@charset "UTF-8";
html, body,
main, div, span,
a, li, ul, hr,
h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

a.button {
  display: inline-block;
  padding: 1.5rem 2rem;
  border: 2px solid #808080;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; }

a.button-s {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1.5px solid #808080;
  font-size: 1rem;
  text-align: center; }

.button-white {
  display: inline-block;
  padding: 0.6rem 1rem 0.5rem 1rem;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 1px solid white; }
  .button-white:hover {
    background-color: white;
    color: black; }

.button-black {
  display: inline-block;
  padding: 0.6rem 1rem 0.5rem 1rem;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 1px solid black; }
  .button-black:hover {
    background-color: black;
    color: white; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

body {
  counter-reset: h2 0; }

.markdown {
  font-size: 14px;
  color: #222222;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8rem;
  letter-spacing: 0.5px; }
  .markdown u  {
    text-decoration: none;
    background: linear-gradient(transparent 60%, yellow 60%); }
  .markdown h2 {
    display: inline-block;
    width: 100%;
    background-color: #FAFAFA;
    padding: 3rem 0;
    margin: 7rem auto 4rem auto;
    line-height: 2.5rem;
    font-size: 18px;
    color: #222222;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 0.2em; }
    .markdown h2:before {
      counter-increment: h2 1;
      content: counter(h2, decimal-leading-zero) ". ";
      display: block;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      color: #666666;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      font-weight: 700;
      line-height: 50px;
      text-align: center; }
    @media (max-width: 425px) {
      .markdown h2 {
        margin: 7rem auto 5rem auto; } }
  .markdown h3 {
    height: 40px;
    margin: 5rem 0 30px 0;
    font-size: 16px;
    color: #222222;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    vertical-align: middle;
    border-left: 10px solid #EEEEEE;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box; }
    @media (max-width: 425px) {
      .markdown h3 {
        margin: 5rem auto 2rem auto; } }
  .markdown h4 {
    text-align: left; }
  .markdown p {
    margin: 1.8rem 0;
    text-align: left; }
    @media (max-width: 425px) {
      .markdown p {
        margin: 1.8rem auto; } }
  .markdown strong {
    font-weight: bold; }
  .markdown a {
    color: #404040;
    border-bottom: 1px solid #666666;
    transition: all 0.3s; }
    .markdown a:hover {
      color: black;
      background: none;
      border-bottom: 1px solid #222222; }
  .markdown img {
    display: block;
    max-width: 100%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    margin: 0 auto;
    border: none; }
  .markdown ul {
    display: block;
    width: 95%;
    margin: 1.8rem auto; }
  .markdown ul > li {
    padding: 0.3rem 0;
    text-align: left; }
  .markdown iframe {
    border-top: 1rem solid white;
    border-bottom: 1rem solid white; }
  .markdown code {
    text-align: left;
    background-color: #EEEEEE; }
  .markdown pre {
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    border: none; }
  .markdown ul#env {
    display: block;
    width: 400px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-left: 10px solid #EEEEEE;
    margin-top: 5rem;
    background-color: #FAFAFA;
    list-style: none;
    box-sizing: border-box; }
    .markdown ul#env::before {
      content: '筆者の環境';
      color: #666666;
      font-size: 0.8rem; }
  .markdown ul#env > li {
    padding: 0.3rem 1.5rem;
    text-align: center; }
    .markdown ul#env > li:first-of-type {
      margin-top: 10px; }
  .markdown table {
    border-collapse: collapse;
    border: 1px solid #ccc; }
  .markdown thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #bfbfbf; }
  .markdown thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff; }
  .markdown tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef; }
  .markdown td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc; }

  .link {
    display: table;
    width: 645px;
    border: solid 1px #D8D8D8;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: auto;
    position:relative;
  }

  .link:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  }

  .link_content {
    display: table-cell;
    vertical-align: middle;
  }

  .link_content a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
    border: none;
  }

  .link_content a:hover {
    border: none;
  }

  .link_content img {
    padding: 0px;
    margin: 0px;
    border: none;
  }

  .link_detail {
    padding: 0 15px 0 15px;
  }

  .link_title {
    font-weight: bold;
    font-size: 15px;
  }

  .link_date {
    color: #808080;
    font-size: 12px;
    display: inline-block;
    border-bottom: solid 2px #BDBDBD;
  }

  .link_desc {
    color: #585858;
    font-size: 12px;
    padding-top: 13px;
  }

.error-message {
  font-size: 40px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: black; }

.error-back {
  width: 300px;
  margin: 20px auto 0 auto;
  text-align: center; }
  .error-back a {
    color: black;
    margin: 0 3px;
    text-decoration: underline; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.header {
  width: 742px;
  height: 50px;
  margin: 60px auto 100px auto;
  position: relative;
  border-right: 58px solid transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 5; }
  @media (max-width: 425px) {
    .header {
      width: 100%;
      height: 70px;
      margin-top: 0;
      margin-bottom: 45px; } }

.logo {
  z-index: 3;
  display: block;
  width: 62.5px;
  height: 50px;
  position: absolute;
  left: 369px; }
  .logo #icon-logo {
    width: 100%;
    height: 100%; }
  @media (max-width: 425px) {
    .logo {
      width: 35px;
      height: 28px;
      margin: 0 auto;
      position: absolute;
      top: 24px;
      right: 0;
      bottom: 0;
      left: 0; } }

svg.icon-hamburger {
  z-index: 3;
  width: 15px;
  height: 9px;
  position: absolute;
  top: 34px;
  right: 30px;
  bottom: 0; }

#menu-toggle {
  display: none; }

.label-toggle {
  display: none; }
  @media (max-width: 425px) {
    .label-toggle {
      display: block; } }

.menu > ul {
  width: 742px;
  position: absolute;
  left: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style: none; }
  @media (max-width: 425px) {
    .menu > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.95);
      width: 100%;
      list-style-type: none;
      text-align: center;
      transition: all 0.5s ease;
      height: 0;
      opacity: 0;
      visibility: hidden; } }
  .menu > ul > li:nth-child(1) {
    margin-left: 100px;
    margin-right: 80px; }
  .menu > ul > li:nth-child(2) {
    margin-right: 80px; }
  .menu > ul > li:nth-child(3) {
    margin-right: 200px; }
  .menu > ul > li:nth-child(4) {
    margin-right: 80px; }
  .menu > ul > li:nth-child(5) {
    margin-right: 80px; }
  @media (max-width: 425px) {
    .menu > ul > li {
      color: white;
      font-size: 1.5rem;
      margin: 0 !important;
      padding: 1.5em 0;
      border-bottom: 1px solid white; }
      .menu > ul > li:nth-child(4) {
        border-bottom: 0; } }

.menu-item > a {
  box-sizing: border-box;
  display: inline-block;
  padding: 17.5px 0; }

.menu-icons {
  width: 68px;
  height: 16px;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; }
  .menu-icons > span {
    width: 16px;
    height: 16px; }
  .menu-icons .icon-social {
    width: 16px;
    height: 16px; }
  @media (max-width: 425px) {
    .menu-icons {
      display: none;
      visibility: hidden; } }

@media (max-width: 425px) {
  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible; } }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.hero {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 60px; }

.hero-company {
  min-width: 528.609px;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px; }
  @media (max-width: 425px) {
    .hero-company {
      min-width: 0;
      font-size: 10vw; } }

.hero-copy {
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.3rem; }
  @media (max-width: 425px) {
    .hero-copy {
      font-size: 3vw; } }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

ul.categories {
  display: block;
  width: 600px;
  margin: 0 auto 50px auto;
  list-style: none;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 425px) {
    ul.categories {
      display: none; } }

ul.categories > li > a {
  display: inline-block;
  margin: 0 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid #808080;
  transition: 0.2s; }
  ul.categories > li > a:hover {
    border-bottom: 1px solid transparent; }

ul.categories > li > a.selected {
  border-bottom: 1px solid transparent; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.docs > .title {
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center; }

.docs > .description {
  display: block;
  font-size: 14px;
  color: black;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 1rem auto 2rem auto;
  text-align: center; }

.docs > .description > .wip {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #BFBFBF;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em; }

.series-summary--title {
  display: block;
  text-align: center;
  margin: 0 auto 50px auto; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

#series-single #blog-card--container .blog-card--series {
  display: none; }

.series-single--header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .series-single--header {
      flex-direction: column; } }

.series-single--image {
  width: 300px;
  /*height: 300px;*/
  box-shadow: 0px 0px 10px 0 #EEEEEE;
  transition: 0.3s; }

.series-single--title {
  margin: 10px 0 0 50px; }
  .series-single--title h1 {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.8px;
    margin: 0; }
  .series-single--title .series-single--number {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block; }

.series-single--description {
  display: block;
  margin: 50px auto 100px auto;
  font-size: 15px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  letter-spacing: 1.2px; }
  @media (min-width: 768px) {
    .series-single--description {
      width: 644px; } }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.blog-single {
  width: 715px;
  margin: 0 auto; }
  @media (max-width: 425px) {
    .blog-single {
      width: 100%; } }

@media (max-width: 425px) {
  .blog-single > .date {
    margin-left: 3%; } }

.blog-single--eyecatch {
  width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0 #EEEEEE; }

.blog-single--title {
  display: block;
  width: 90%;
  margin: 20px auto 0 auto; }
  @media (max-width: 425px) {
    .blog-single--title {
      width: 94%;
      margin: 10px auto 0 auto; } }

.blog-single--information {
  display: block;
  position: relative;
  width: 90%;
  height: 40px;
  margin: 20px auto 0 auto;
  overflow: hidden; }

.blog-single--information > .author {
  position: absolute;
  left: 0px;
  bottom: 0px; }

.blog-single--information > .series {
  position: absolute;
  right: 0px;
  bottom: 7px; }

.blog-songle > .share {
  margin-top: 80px; }

.related-entries .related-entries-item {
  display: flex;
  justify-content: center; }
  .related-entries .related-entries-item img {
    width: 250px;
    height: 154px;
    padding: 10px; }

/*LIGブログ仕様の人物紹介レイアウト*/
.person-intro {
  display: flex;
  border-style: solid;
  border-color: gray; }
  .person-intro img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 30px;
    vertical-align: middle;
    border-radius: 20%; }
  .person-intro .person-info {
    flex-flow: column wrap;
    padding-top: 20px; }

/*LIGブログ仕様の会話レイアウト*/
.box-tweet span {
  display: inline-block;
  width: 550px;
  vertical-align: middle; }

.box-tweet img {
  display: inline-block;
  width: 100px;
  margin: 30px;
  border-radius: 50%;
  vertical-align: middle; }

.blog-single--content {
  margin: 100px auto; }
  @media (max-width: 425px) {
    .blog-single--content {
      width: 90%; } }

.blog-single--toc {
  text-align: left;
  line-height: 20px;
  width: 70%;
  padding: 16px;
  margin: 64px auto;
  color: #222222;
  background-color: #FAFAFA; }
  .blog-single--toc ol > li {
    margin: 4px;
    text-decoration: none; }
    .blog-single--toc ol > li ul {
      list-style: none;
      margin-top: 4px;
      margin-left: 8px; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.shop-single {
  width: 715px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 425px) {
    .shop-single {
      width: 100%; } }
  @media (max-width: 425px) {
    .shop-single .date {
      margin-left: 3%; } }
  .shop-single--eyecatch {
    width: 100%;
    margin-top: 10px; }
  .shop-single--title {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 1.9px;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 20px; }
    @media (max-width: 425px) {
      .shop-single--title {
        font-size: 20px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        letter-spacing: 1.5px; } }
    @media (max-width: 425px) {
      .shop-single--title {
        width: 94%;
        margin: 10px auto 0 auto; } }
  .shop-single--price {
    font-size: 15px;
    color: #595959;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    .shop-single--price span {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased; }
  .shop-single .tags {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
  .shop-single .share {
    margin-top: 80px; }
  .shop-single--howtolink {
    text-decoration: none;
    text-align: center;
    background-color: #f62459;
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    padding: 11px 26px 9px 26px;
    border-radius: 3px;
    display: block;
    width: 127px;
    margin: 30px auto 0 auto;
    box-shadow: 3px 3px 3px #ccc; }
  .shop-single--description {
    width: 90%;
    margin: 45px auto 45px auto;
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    letter-spacing: 0.5px; }
    @media (max-width: 425px) {
      .shop-single--description {
        width: 94%;
        margin: 40px auto 40px auto; } }
  .shop-single--content {
    width: 90%;
    margin: 50px auto 0 auto; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.member-single {
  width: 715px;
  margin: 0 auto; }
  @media (max-width: 425px) {
    .member-single {
      width: 94%; } }
  .member-single .author--avatar__big {
    display: block;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%; }
  .member-single--position {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  .member-single .author--name__big {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.28px; }
  .member-single--aboutme-title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px; }
  .member-single--aboutme {
    margin-top: 20px; }
  .member-single--posts-title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    margin-top: 100px; }
  .member-single #member-card--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .member-single .blog-card {
    width: 330px;
    height: auto;
    margin: 20px 0; }
  .member-single .blog-card--thumbnail {
    width: 100%;
    height: auto; }
  .member-single .author {
    display: none; }
  .member-single .blog-card--series {
    position: relative;
    float: right;
    margin-top: 15px; }
  .member-single .blog-card--title {
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.member-summary {
  width: 1000px;
  margin: 0 auto; }
  .member-summary--title {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
  .member-summary .author--avatar__big {
    border-radius: 50%; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

#aboutEn .hero {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; }
  #aboutEn .hero-background {
    width: 100%;
    height: 100%;
    position: absolute; }
  #aboutEn .hero-text {
    display: inline-block; }
    #aboutEn .hero-text h1 {
      -webkit-font-smoothing: antialiased;
      font-size: 30px;
      color: #222222;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      font-weight: 700;
      margin: 0;
      padding: 0; }
    #aboutEn .hero-text p {
      margin: 0;
      padding-top: 10px;
      -webkit-font-smoothing: antialiased;
      font-size: 13px;
      color: #808080;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      text-align: center; }

#aboutEn .ourStories {
  width: 90%;
  max-width: 715px;
  margin: 0 auto;
  padding: 0; }
  #aboutEn .ourStories-title {
    width: 100%;
    margin: 0 0 10px 0;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700; }
  #aboutEn .ourStories-text {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.9;
    line-height: 30px;
    margin-bottom: 50px; }

#aboutEn .whatWeCanDo {
  width: 90%;
  max-width: 715px;
  margin: 0 auto;
  padding: 0; }
  #aboutEn .whatWeCanDo-title {
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700; }
  #aboutEn .whatWeCanDo-subTitle {
    margin: 0 0 5px 0;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em; }
  #aboutEn .whatWeCanDo-text {
    margin: 0;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.9;
    line-height: 30px; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.docs-single {
  border-top: 2px solid #BFBFBF;
  border-bottom: 2px solid #BFBFBF;
  display: flex; }
  @media (max-width: 425px) {
    .docs-single {
      display: none; } }

.docs-single > .side {
  min-width: 300px;
  background-color: #EEEEEE;
  padding-left: 5rem;
  padding-top: 4rem;
  border-right: 2px solid #BFBFBF;
  box-sizing: border-box;
  font-size: 14px;
  color: black;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased; }
  .docs-single > .side ul {
    list-style: none;
    margin: 0 auto; }
  .docs-single > .side li {
    margin: 1rem 0; }
  .docs-single > .side li.wip {
    color: #BFBFBF;
    pointer-events: none; }
    .docs-single > .side li.wip span {
      -webkit-font-smoothing: antialiased;
      font-size: 12px;
      color: #BFBFBF;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em; }

.docs-single > .main {
  padding: 5rem;
  margin: 0 auto; }
  .docs-single > .main .title {
    text-align: center; }
  .docs-single > .main .title > .jp {
    font-size: 1.5rem; }
  .docs-single > .main .title > .line {
    content: "";
    background-color: #404040;
    height: 2px;
    width: 20%;
    margin: 0 auto 0.5rem auto; }
  .docs-single > .main .title > .en {
    display: block;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 5rem; }
  .docs-single > .main .content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem; }
  .docs-single > .main .lastEdit {
    margin-bottom: 5rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #BFBFBF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold; }
  .docs-single > .main .information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #BFBFBF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em; }
    .docs-single > .main .information a {
      display: flex;
      align-items: center;
      margin-left: 5px;
      vertical-align: center;
      font-size: 12px;
      color: #808080;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
      .docs-single > .main .information a img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
      .docs-single > .main .information a span {
        margin-left: 5px; }

.sp-docs-single {
  display: none; }
  @media (max-width: 425px) {
    .sp-docs-single {
      display: block;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
      .sp-docs-single .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        color: #BFBFBF;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1em; }
        .sp-docs-single .information a {
          display: flex;
          align-items: center;
          vertical-align: center;
          justify-content: center; }
          .sp-docs-single .information a img {
            width: 30px;
            height: 30px;
            padding-left: 5px;
            border-radius: 50%; }
          .sp-docs-single .information a span.author {
            margin-left: 5px;
            font-size: 12px;
            color: #808080;
            font-family: HiraginoSans-W6;
            -webkit-font-smoothing: antialiased; } }

.sp-docs-single > .sp-under-index {
  width: 220px;
  margin: 1.5rem auto 0;
  padding: 1rem 0 1rem;
  box-sizing: border-box;
  font-size: 12px;
  color: #404040;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased; }
  .sp-docs-single > .sp-under-index p.index {
    text-align: left;
    margin: 0 10px;
    border-bottom: solid 1px #404040;
    font-size: 14px;
    color: #404040;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }
  .sp-docs-single > .sp-under-index span.index-title {
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #404040;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }
  .sp-docs-single > .sp-under-index ul {
    list-style: none;
    margin: 0 auto;
    text-align: left; }
  .sp-docs-single > .sp-under-index li {
    margin: 0.5rem 0;
    padding-left: 10px; }
  .sp-docs-single > .sp-under-index li.selected {
    background-color: #EEEEEE;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }
  .sp-docs-single > .sp-under-index li.wip {
    color: #BFBFBF;
    pointer-events: none;
    text-decoration: none; }
    .sp-docs-single > .sp-under-index li.wip span {
      -webkit-font-smoothing: antialiased;
      font-size: 12px;
      color: #BFBFBF;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em; }

.banner {
  display: block;
  width: 100%;
  max-width: 956px;
  margin: 0 auto;
  margin-bottom: 5rem; }
  @media (max-width: 425px) {
    .banner {
      margin-bottom: 3rem; } }
  .banner img {
    width: 100%;
    max-width: 100%;
    transition: 0.3s; }
  .banner img:hover {
    opacity: 0.8; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.blog-recent {
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 5rem; }
  @media (max-width: 425px) {
    .blog-recent {
      margin-bottom: 3rem; } }

.blog-recent > .header {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: lowercase; }
  @media (max-width: 425px) {
    .blog-recent > .header {
      margin-left: 10px; } }

.blog-recent > hr {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #EEEEEE; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.media-recent {
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 5rem; }
  @media (max-width: 425px) {
    .media-recent {
      margin-bottom: 3rem; } }

.media-recent > .header {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: lowercase; }
  @media (max-width: 425px) {
    .media-recent > .header {
      margin-left: 10px; } }

.media-recent > hr {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #EEEEEE; }

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .author:hover {
    opacity: 0.8; }

.author--avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white; }
  .author--avatar__big {
    width: 100px;
    height: 100px; }

.author--name {
  font-size: 11px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px; }
  .author--name__medium {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }
  .author--name__big {
    font-size: 23px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.date {
  display: inline-block;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block;
  pointer-events: none; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.series {
  display: inline-block;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block;
  text-decoration: none;
  padding: 3px 10px 2px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .series:hover {
    opacity: 0.8; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

#series-card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.series-card {
  display: block;
  width: 325px;
  margin: 50px; }
  .series-card--thumbnail {
    display: block;
    width: 325px;
    /*height: 325px;*/
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    box-shadow: 0px 0px 10px 0 #EEEEEE;
    transition: 0.3s; }
    .series-card--thumbnail:hover {
      opacity: 0.8; }
    .series-card--thumbnail:hover {
      box-shadow: 0 0 20px 0 #BFBFBF; }
  .series-card--title {
    display: block;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s; }
    .series-card--title a {
      text-decoration: none;
      color: black; }
    .series-card--title:hover {
      opacity: 0.8; }
  .series-card--description {
    width: 325px;
    height: 135px;
    color: black;
    margin: 0 auto;
    font-size: 13px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

#shop-card--container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.shop-card {
  width: 100%;
  max-width: 350px;
  margin: 0 25px;
  margin-bottom: 100px;
  position: relative; }
  @media (max-width: 389px) {
    .shop-card {
      width: 100%;
      height: auto;
      margin: 0 0 100px 0; } }
  .shop-card--thumbnail {
    width: 100%;
    max-width: 350px;
    height: 350px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    box-shadow: 0px 0px 10px 0 #EEEEEE;
    transition: 0.3s; }
    .shop-card--thumbnail:hover {
      opacity: 0.8; }
    .shop-card--thumbnail:hover {
      box-shadow: 0 0 20px 0 #BFBFBF; }
    @media (max-width: 389px) {
      .shop-card--thumbnail {
        width: 100%;
        height: auto; } }
  .shop-card--data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    pointer-events: none; }
    .shop-card--data .date, .shop-card--data .social {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1.5px;
      display: inline-block; }
    @media (max-width: 389px) {
      .shop-card--data {
        margin-left: 3%; } }
  .shop-card--title {
    display: block;
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-top: 5px; }
    .shop-card--title div {
      opacity: 1;
      transition: opacity 0.2s ease-out 0s; }
      .shop-card--title div:hover {
        opacity: 0.8; }
    @media (max-width: 389px) {
      .shop-card--title {
        width: 94%;
        margin: 0 auto;
        font-size: 16px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased; } }
  .shop-card--price {
    font-size: 13px;
    color: #595959;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    .shop-card--price span {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased; }
  .shop-card--short-description {
    font-size: 13px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    width: 94%;
    display: block;
    margin: 10px auto 0 auto; }
  .shop-card .tags {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px 2px 10px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    position: absolute;
    right: 0px; }
    .shop-card .tags:hover {
      opacity: 0.8; }
    @media (max-width: 389px) {
      .shop-card .tags {
        position: absolute;
        right: 3%; } }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

#event-card--container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.event-card {
  width: 350px;
  position: relative;
  margin: 25px 25px; }
  .event-card--thumbnail {
    width: 100%;
    box-shadow: 0px 0px 10px 0 #EEEEEE;
    transition: 0.3s; }
    .event-card--thumbnail:hover {
      opacity: 1;
      transition: opacity 0.2s ease-out 0s; }
      .event-card--thumbnail:hover:hover {
        opacity: 0.8; }
    .event-card--thumbnail:hover {
      box-shadow: 0 0 20px 0 #BFBFBF; }
  .event-card--triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #595959 transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; }
  .event-card--monthdate {
    position: absolute;
    top: 15px;
    left: 7px;
    pointer-events: none;
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px; }
  .event-card--day {
    position: absolute;
    top: 37px;
    left: 7px;
    pointer-events: none;
    font-size: 12px;
    color: white;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.8px; }
  .event-card--title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 1.8;
    letter-spacing: 1px;
    display: block;
    text-align: center; }
  .event-card--row {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: -10px; }
    .event-card--row span {
      display: block; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.member-card--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.member-card {
  display: block;
  width: 150px;
  text-decoration: none;
  padding: 20px 20px;
  margin: 20px 20px; }
  .member-card:empty {
    height: 0;
    border: none; }
  .member-card .author--avatar__big {
    display: block;
    width: 100px;
    margin: 0 auto; }
  .member-card--position {
    font-size: 11px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-top: 20px; }
  .member-card .author--name__medium {
    text-align: center; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.cards-related {
  list-style: none;
  max-width: 685px; }

.card-related {
  max-width: 685px;
  margin-bottom: 25px; }
  .card-related a {
    color: #222222;
    text-decoration: none;
    display: flex;
    align-items: center; }
  .card-related--thumbnail {
    width: 240px;
    height: 148px; }
  .card-related--title {
    font-size: 18px;
    color: #222222;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    margin-left: 25px; }
  .card-related .author {
    position: relative; }

.share {
  display: flex;
  float: right;
  padding-top: 15px; }

.share-foot {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  padding-bottom: 40px; }

.share-item {
  display: block;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  padding: 8px 35px;
  margin: 0 10px;
  display: flex;
  align-content: center;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .share-item:hover {
    opacity: 0.8; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  pointer-events: none;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block; }
  .tags li {
    display: inline-block;
    margin: 0 5px;
    list-style: none; }
    .tags li a {
      text-decoration: none; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none; }
  .pagination a {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #BFBFBF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.3s; }
  .pagination li {
    padding-bottom: 3px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative; }
    .pagination li:hover a {
      color: #222222; }
    .pagination li:before, .pagination li:after {
      position: absolute;
      content: "";
      width: 0;
      height: 3px;
      background: #222222;
      transition: 0.3s;
      top: -10px; }
      .pagination li:before .active, .pagination li:after .active {
        width: 100%; }
    .pagination li:before {
      left: 50%; }
    .pagination li:after {
      right: 50%; }
    .pagination li:hover:before, .pagination li:hover:after {
      width: 50%; }
    .pagination li.active a {
      color: #222222; }
    .pagination li.active:before, .pagination li.active:after {
      width: 60%; }

.top-hero {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 32px);
  overflow: auto;
  max-width: 1360px;
  margin: 32px auto;
  box-shadow: 0 3px 1px 0 #EEEEEE; }
  @media (max-width: 425px) {
    .top-hero {
      width: 96%; } }

.top-hero--image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .top-hero--image img {
    display: block;
    width: 100%;
    height: 100%; }
  @media (max-width: 425px) {
    .top-hero--image {
      width: 100%;
      height: auto; } }

.top-hero--image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: 0.3s; }
  .top-hero--image-overlay:hover {
    opacity: 0.1; }

.top-hero--flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 17px 16px 15px 16px; }
  @media (max-width: 425px) {
    .top-hero--flex {
      flex-direction: column; }
      .top-hero--flex .top-hero--cta {
        margin-top: 8px; } }

.top-hero--catch {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  color: #666666;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px; }

.top-hero--cta {
  display: inline-block;
  font-size: 11px;
  color: #666666;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  border: 1px solid #666666;
  padding: 4px 8px;
  transition: 0.3s; }
  .top-hero--cta:hover {
    color: #FAFAFA;
    background-color: #222222; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.card-blog {
  width: 300px;
  margin: 2rem 0; }

.card-blog > .thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem; }
  .card-blog > .thumbnail img {
    width: 100%; }
  .card-blog > .thumbnail .thumbnail-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: 0.3s; }
    .card-blog > .thumbnail .thumbnail-overlay:hover {
      opacity: 1; }

.card-blog > .title {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #222222;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  letter-spacing: 0.05em; }

.card-blog > .date {
  margin-bottom: 0.5rem;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em; }

.card-blog > hr {
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 1px solid #EEEEEE; }

.card-blog > .description {
  font-size: 14px;
  color: #808080;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  letter-spacing: 0.05em; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.card-media {
  width: 300px;
  margin: 0 0 2rem 0; }

.card-media > .thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem; }
  .card-media > .thumbnail img {
    width: 100%; }
  .card-media > .thumbnail .thumbnail-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: 0.3s; }
    .card-media > .thumbnail .thumbnail-overlay:hover {
      opacity: 1; }

.card-media > .title {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #222222;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  letter-spacing: 0.05em; }

.card-media > .date {
  margin-bottom: 0.5rem;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em; }

.card-media > hr {
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 1px solid #EEEEEE; }

.card-media > .description {
  font-size: 14px;
  color: #808080;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  letter-spacing: 0.05em; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.card-docs {
  display: block;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 2rem 1rem;
  color: white;
  overflow: hidden; }

.card-docs > .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 250px;
  opacity: 0.8;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }

.card-docs > .thumbnail-overlay > .name-en {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-top: 50px; }

.card-docs > .thumbnail-overlay > .name-jp {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 12px;
  color: white;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px; }

.card-docs > .thumbnail-overlay > .description {
  width: 350px;
  margin: 50px auto 0 auto;
  opacity: 0;
  transition: 1.5s;
  line-height: 2; }

.card-docs:hover .thumbnail-overlay {
  top: 0;
  opacity: 0.9; }

.card-docs:hover .description {
  opacity: 1; }

  .card-case {
    display: block;
    position: relative;
    width: 368px;
    height: 226px;
    margin: 2rem 1rem;
    color: white;
    overflow: hidden; }

.card-case > .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 120px;
  opacity: 0.8;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }

.card-case > .thumbnail-overlay > .name-en {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-top: 35px; }

.card-case > .thumbnail-overlay > .name-jp {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 12px;
  color: white;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px; }

.card-case > .thumbnail-overlay > .description {
  width: 350px;
  margin: 50px auto 0 auto;
  opacity: 0;
  transition: 1.5s;
  line-height: 2; }

.card-case:hover .thumbnail-overlay {
  top: 0;
  opacity: 0.9; }

.card-case:hover .description {
  opacity: 1; }

#container-blog-all {
  width: 100%;
  max-width: 956px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; }
  @media (max-width: 425px) {
    #container-blog-all {
      justify-content: center; } }

#container-blog-recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 425px) {
    #container-blog-recent {
      justify-content: center; } }

#container-media-recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 425px) {
    #container-media-recent {
      justify-content: center; } }

.container-docs-all {
  width: 100%;
  max-width: 956px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.service {
  width: 80%;
  max-width: 1360px;
  min-width: 768px;
  margin: 0 auto; }
  @media (max-width: 425px) {
    .service {
      min-width: 100%; } }

.service-slides {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 425px) {
    .service-slides {
      width: 100%; } }

.service-slides > img {
  max-width: 100%;
  margin: 16px 0;
  box-shadow: 0 0 4px #666666; }
  @media (max-width: 425px) {
    .service-slides > img {
      width: 100%; } }

.service-contact {
  text-align: center;
  font-size: 14px;
  color: #222222;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased; }

.service-contact--button {
  display: inline-block;
  width: auto;
  border: 1px solid #222222;
  border-radius: 1px;
  padding: 4px 16px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s; }
  .service-contact--button:hover {
    background-color: #222222;
    color: white; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.partners {
  max-width: 956px;
  margin: 0 auto;
  margin-bottom: 5rem; }

.partners--heading {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto; }

.partners--logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem; }
  @media (max-width: 425px) {
    .partners--logo-wrapper {
      flex-direction: column;
      align-items: center; } }

.partners--logo {
  background-color: #BFBFBF;
  margin: 0.5rem 0.3rem; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

div.fb-page {
  display: block;
  width: 500px;
  margin: 0 auto; }

.logoTop {
  display: block;
  width: 300px;
  margin: 0 auto; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.company {
  max-width: 600px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased; }
.company-info {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  text-align: center; }
.company-info--item {
  background: #2E2E2E;
  border-radius: 4px; }
.company-info a {
  text-decoration: none;
  color: #ffffff;
  padding: 18px 40px;
  margin: 0 5px;
  transition: opacity 0.2s ease-out 0s; }
  @media (max-width: 425px) {
    .company-info a {
      padding: 1px;
      margin: 1px; } }
.company-info a:hover {
  opacity: 0.7; }

.case {
  text-align: center;
  font-size: 20px;
  padding: 50px 30px 20px 30px;
  font-weight: bold;
}

.footer {
  max-width: 480px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  color: black;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased; }
  .footer-info {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    text-align: center; }
    .footer-info a {
      text-decoration: none;
      padding: 5px;
      border: solid 0.5px #4a4a4a;
      border-radius: 1px;
      margin: 0 5px;
      opacity: 1;
      transition: opacity 0.2s ease-out 0s;
      color: black; }
      @media (max-width: 425px) {
        .footer-info a {
          padding: 1px;
          margin: 1px; } }
      .footer-info a:hover {
        opacity: 0.7; }
  .footer-cr {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.singlea-img {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 3px; }

.singlea-txt table {
  width: 70%;
  display: block;
  margin: 50px auto; }
  .singlea-txt table .title {
    width: 100px; }
  .singlea-txt table .data {
    width: 70%; }

.sp-single {
  display: none; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.singlel-txt .contactBox, .singlel-txt .tos, .singlel-txt .sct, .singlel-txt .pp {
  width: 60%;
  margin: 50px auto;
  font-size: 13px;
  font-family: HiraginoSans-W3;
  line-height: 2; }
  .singlel-txt .contactBox a, .singlel-txt .tos a, .singlel-txt .sct a, .singlel-txt .pp a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 15px;
    margin: 0 10px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s; }
    .singlel-txt .contactBox a:hover, .singlel-txt .tos a:hover, .singlel-txt .sct a:hover, .singlel-txt .pp a:hover {
      opacity: 0.6; }
    .singlel-txt .contactBox a:link, .singlel-txt .contactBox a:visited, .singlel-txt .tos a:link, .singlel-txt .tos a:visited, .singlel-txt .sct a:link, .singlel-txt .sct a:visited, .singlel-txt .pp a:link, .singlel-txt .pp a:visited {
      color: black; }
  .singlel-txt .contactBox .bottoms, .singlel-txt .tos .bottoms, .singlel-txt .sct .bottoms, .singlel-txt .pp .bottoms {
    margin: 30px 0;
    display: flex;
    justify-content: space-between; }
    .singlel-txt .contactBox .bottoms p, .singlel-txt .tos .bottoms p, .singlel-txt .sct .bottoms p, .singlel-txt .pp .bottoms p {
      margin: 0; }
  .singlel-txt .contactBox h1, .singlel-txt .tos h1, .singlel-txt .sct h1, .singlel-txt .pp h1 {
    font-family: HiraginoSans-W7;
    font-size: 20px;
    text-align: center; }

.singlel-txt .contactBox {
  min-width: 200px;
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 1px dashed black;
  border-radius: 3px; }
  .singlel-txt .contactBox h1 {
    margin: 0; }
  .singlel-txt .contactBox p {
    margin: 0;
    line-height: 2.5; }

.singlel-txt .section {
  margin: 30px 0; }
  .singlel-txt .section h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .section h2 .brackets {
      font-size: 14px; }
  .singlel-txt .section ol {
    margin: 0; }

.singlel-txt hr {
  width: 80%;
  margin: 50px auto; }

.singlel-txt .sct table {
  width: 70%;
  margin: 0 auto; }
  .singlel-txt .sct table h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .sct table h2 .brackets {
      font-size: 14px; }
  .singlel-txt .sct table tr {
    height: 40px; }

html {
  font-size: 14px; }
  @media (max-width: 425px) {
    html {
      font-size: 12px; } }

.paypal--buybutton {
  display: block;
  margin: 0 0 20px 0;
  padding: 8px 18px;
  background-color: #f62459;
  border: 1px solid #f62459;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 5px #ccc; }
  .paypal--buybutton a {
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none; }
  .paypal--buybutton__false {
    opacity: 0.3; }

.sp-paypal--buybutton {
  display: block;
  margin: 0 0 20px 0;
  padding: 8px 18px;
  background-color: #f62459;
  border: 1px solid #f62459;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 5px #ccc; }
  .sp-paypal--buybutton a {
    font-size: 11px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none; }
  .sp-paypal--buybutton__false {
    opacity: 0.3; }

body {
  background-color: #FAFAFA; }

.flex {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

h1 {
  font-size: 25px;
  color: black;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased; }

/*highlight.jsで行数を出す*/
/* for block of numbers */
div.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
  /* your custom style here */ }

/* for block of code */
div.hljs-ln-code {
  padding-left: 10px; }

@media (max-width: 425px) {
  html, body {
    background-color: white;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch; }
  .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; } }
