@charset "UTF-8";
html, body,
main, div, span,
a, li, ul, hr {
  padding: 0;
  margin: 0; }

.error-message {
  font-size: 40px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: black; }

.error-back {
  width: 300px;
  margin: 20px auto 0 auto;
  text-align: center; }
  .error-back a {
    color: black;
    margin: 0 3px;
    text-decoration: underline; }

.series-summary--title {
  display: block;
  text-align: center;
  margin: 0 auto 50px auto; }

#series-single #blog-card--container .blog-card--series {
  display: none; }

.series-single--header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .series-single--header {
      flex-direction: column; } }

.series-single--image {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px 0 #BFBFBF;
  transition: 0.3s; }

.series-single--title {
  margin: 10px 0 0 50px; }
  .series-single--title h1 {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.8px;
    margin: 0; }
  .series-single--title .series-single--number {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block; }

.series-single--description {
  display: block;
  margin: 50px auto 100px auto;
  font-size: 15px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  letter-spacing: 1.2px; }
  @media (min-width: 768px) {
    .series-single--description {
      width: 644px; } }

@media (min-width: 768px) {
  .markdown {
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    letter-spacing: 0.5px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
      .markdown a:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out 0s; }
        .markdown a:hover:hover {
          opacity: 0.8; }
    .markdown strong {
      font-size: 15px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
    .markdown p {
      margin: 25px 0 25px 0; }
    .markdown h2 {
      box-sizing: border-box;
      margin: 80px 0 50px 0;
      font-size: 23px;
      color: black;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      border-left: 10px solid #E6567A;
      padding: 31px 20px 29px 20px;
      border-radius: 2px;
      letter-spacing: 1px; }
    .markdown h3 {
      margin: 50px 0 20px 0;
      box-sizing: border-box;
      font-size: 21px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #E6567A;
      padding: 16px 10px 14px 10px;
      letter-spacing: 1px; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; }
    .markdown table {
      border-collapse: collapse;
      text-align: left;
      line-height: 2; }
      .markdown table th {
        width: 20%;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #4a4a4a; }
      .markdown table td {
        width: 70%;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #4a4a4a; } }

@media (max-width: 767px) {
  .markdown {
    font-size: 11px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    letter-spacing: 1px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
    .markdown p {
      margin: 10px 0 10px 0; }
    .markdown strong {
      padding: 5px 3px;
      margin: 0 3px; }
    .markdown h2 {
      margin: 50px 0 50px 0;
      font-size: 18px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #c2c2c2;
      padding: 10px 20px;
      border-radius: 2px;
      line-height: 1.5; }
    .markdown h3 {
      margin: 50px 0 50px 0;
      font-size: 16px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      border-left: 2.5px solid #c2c2c2;
      padding: 2.5px 10px;
      line-height: 1.5; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; } }

.blog-single {
  width: 715px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .blog-single {
      width: 94%; } }
  @media (max-width: 767px) {
    .blog-single .date {
      margin-left: 3%; } }
  .blog-single--eyecatch {
    width: 100%;
    height: auto;
    margin-top: 10px; }
  .blog-single--title {
    display: block;
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 1.9px;
    width: 90%;
    margin: 20px auto 0 auto; }
    @media (max-width: 767px) {
      .blog-single--title {
        font-size: 20px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        letter-spacing: 1.5px; } }
    @media (max-width: 767px) {
      .blog-single--title {
        width: 94%;
        margin: 10px auto 0 auto; } }
  .blog-single--row {
    display: block;
    width: 90%;
    margin: 20px auto 0 auto;
    height: 40px;
    overflow: hidden;
    position: relative; }
  .blog-single .author {
    position: absolute;
    left: 0px;
    bottom: 0px; }
  .blog-single .series {
    position: absolute;
    right: 0px;
    bottom: 7px; }
  .blog-single .share {
    margin-top: 80px; }
  .blog-single--content {
    width: 100%;
    margin: 100px auto 0 auto; }

@media (min-width: 768px) {
  .markdown {
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    letter-spacing: 0.5px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
      .markdown a:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out 0s; }
        .markdown a:hover:hover {
          opacity: 0.8; }
    .markdown strong {
      font-size: 15px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
    .markdown p {
      margin: 25px 0 25px 0; }
    .markdown h2 {
      box-sizing: border-box;
      margin: 80px 0 50px 0;
      font-size: 23px;
      color: black;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      border-left: 10px solid #E6567A;
      padding: 31px 20px 29px 20px;
      border-radius: 2px;
      letter-spacing: 1px; }
    .markdown h3 {
      margin: 50px 0 20px 0;
      box-sizing: border-box;
      font-size: 21px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #E6567A;
      padding: 16px 10px 14px 10px;
      letter-spacing: 1px; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; }
    .markdown table {
      border-collapse: collapse;
      text-align: left;
      line-height: 2; }
      .markdown table th {
        width: 20%;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #4a4a4a; }
      .markdown table td {
        width: 70%;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #4a4a4a; } }

@media (max-width: 767px) {
  .markdown {
    font-size: 11px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    letter-spacing: 1px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
    .markdown p {
      margin: 10px 0 10px 0; }
    .markdown strong {
      padding: 5px 3px;
      margin: 0 3px; }
    .markdown h2 {
      margin: 50px 0 50px 0;
      font-size: 18px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #c2c2c2;
      padding: 10px 20px;
      border-radius: 2px;
      line-height: 1.5; }
    .markdown h3 {
      margin: 50px 0 50px 0;
      font-size: 16px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      border-left: 2.5px solid #c2c2c2;
      padding: 2.5px 10px;
      line-height: 1.5; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; } }

.shop-single {
  width: 715px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 767px) {
    .shop-single {
      width: 100%; } }
  @media (max-width: 767px) {
    .shop-single .date {
      margin-left: 3%; } }
  .shop-single--eyecatch {
    width: 100%;
    margin-top: 10px; }
  .shop-single--title {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 1.9px;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 20px; }
    @media (max-width: 767px) {
      .shop-single--title {
        font-size: 20px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        letter-spacing: 1.5px; } }
    @media (max-width: 767px) {
      .shop-single--title {
        width: 94%;
        margin: 10px auto 0 auto; } }
  .shop-single--price {
    font-size: 15px;
    color: #595959;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    .shop-single--price span {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased; }
  .shop-single .tags {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
  .shop-single .share {
    margin-top: 80px; }
  .shop-single--howtolink {
    text-decoration: none;
    text-align: center;
    background-color: #f62459;
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    padding: 11px 26px 9px 26px;
    border-radius: 3px;
    display: block;
    width: 127px;
    margin: 30px auto 0 auto;
    box-shadow: 3px 3px 3px #ccc; }
  .shop-single--description {
    width: 90%;
    margin: 45px auto 45px auto;
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    letter-spacing: 0.5px; }
    @media (max-width: 767px) {
      .shop-single--description {
        width: 94%;
        margin: 40px auto 40px auto; } }
  .shop-single--content {
    width: 90%;
    margin: 50px auto 0 auto; }

.member-single {
  width: 715px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .member-single {
      width: 94%; } }
  .member-single .author--avatar__big {
    display: block;
    width: 100px;
    margin: 0 auto; }
  .member-single--position {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  .member-single .author--name__big {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.28px; }
  .member-single--aboutme-title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px; }
  .member-single--aboutme {
    margin-top: 20px; }
  .member-single--posts-title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    margin-top: 100px; }
  .member-single #member-card--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .member-single .blog-card {
    width: 330px;
    height: auto;
    margin: 20px 0; }
  .member-single .blog-card--thumbnail {
    width: 100%;
    height: auto; }
  .member-single .author {
    display: none; }
  .member-single .blog-card--series {
    position: relative;
    float: right;
    margin-top: 15px; }
  .member-single .blog-card--title {
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }

.member-summary {
  width: 530px;
  margin: 0 auto; }
  .member-summary--title {
    font-size: 25px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .author:hover {
    opacity: 0.8; }

.author--avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white; }
  .author--avatar__big {
    width: 100px;
    height: 100px; }

.author--name {
  font-size: 11px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px; }
  .author--name__medium {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }
  .author--name__big {
    font-size: 23px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased; }

.date {
  display: inline-block;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block;
  pointer-events: none; }

.series {
  display: inline-block;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block;
  text-decoration: none;
  padding: 3px 10px 2px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .series:hover {
    opacity: 0.8; }

#series-card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.series-card {
  display: block;
  width: 325px;
  margin: 50px; }
  .series-card--thumbnail {
    display: block;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    box-shadow: 0px 0px 10px 0 #BFBFBF;
    transition: 0.3s; }
    .series-card--thumbnail:hover {
      opacity: 0.8; }
    .series-card--thumbnail:hover {
      box-shadow: 0 0 25px 0 #404040; }
  .series-card--title {
    display: block;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s; }
    .series-card--title a {
      text-decoration: none;
      color: black; }
    .series-card--title:hover {
      opacity: 0.8; }
  .series-card--description {
    width: 325px;
    height: 135px;
    color: black;
    margin: 0 auto;
    font-size: 13px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased; }

#blog-card--container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.blog-card {
  width: 100%;
  max-width: 350px;
  margin: 0 25px 100px 20px;
  position: relative; }
  @media (max-width: 389px) {
    .blog-card {
      width: 100%;
      height: auto;
      margin: 0 0 50px 0; } }
  .blog-card--thumbnail {
    width: 100%;
    max-width: 350px;
    height: 215px;
    box-shadow: 0px 0px 10px 0 #BFBFBF;
    transition: 0.3s; }
    .blog-card--thumbnail:hover {
      box-shadow: 0 0 25px 0 #404040; }
    @media (max-width: 389px) {
      .blog-card--thumbnail {
        width: 100%;
        height: auto; } }
  .blog-card--data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    pointer-events: none; }
    .blog-card--data .date, .blog-card--data .social {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1.5px;
      display: inline-block; }
    @media (max-width: 389px) {
      .blog-card--data {
        margin-left: 3%; } }
  .blog-card--title {
    display: block;
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 1.8;
    letter-spacing: 1px;
    margin: 5px 0 0 0; }
    .blog-card--title div {
      opacity: 1;
      transition: opacity 0.2s ease-out 0s; }
      .blog-card--title div:hover {
        opacity: 0.8; }
    @media (max-width: 389px) {
      .blog-card--title {
        width: 94%;
        margin: 0 auto;
        font-size: 16px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased; } }
  .blog-card--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
  @media (max-width: 389px) {
    .blog-card .author {
      position: relative;
      margin-top: 10px;
      margin-left: 3%; } }
  .blog-card--series {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    text-decoration: none;
    padding: 3px 10px 2px 10px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    margin-top: 7px; }
    .blog-card--series:hover {
      opacity: 0.8; }
    @media (max-width: 389px) {
      .blog-card--series {
        position: absolute;
        right: 3%; } }

#shop-card--container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.shop-card {
  width: 100%;
  max-width: 350px;
  margin: 0 25px;
  margin-bottom: 100px;
  position: relative; }
  @media (max-width: 389px) {
    .shop-card {
      width: 100%;
      height: auto;
      margin: 0 0 100px 0; } }
  .shop-card--thumbnail {
    width: 100%;
    max-width: 350px;
    height: 350px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    box-shadow: 0px 0px 10px 0 #BFBFBF;
    transition: 0.3s; }
    .shop-card--thumbnail:hover {
      opacity: 0.8; }
    .shop-card--thumbnail:hover {
      box-shadow: 0 0 25px 0 #404040; }
    @media (max-width: 389px) {
      .shop-card--thumbnail {
        width: 100%;
        height: auto; } }
  .shop-card--data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    pointer-events: none; }
    .shop-card--data .date, .shop-card--data .social {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1.5px;
      display: inline-block; }
    @media (max-width: 389px) {
      .shop-card--data {
        margin-left: 3%; } }
  .shop-card--title {
    display: block;
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-top: 5px; }
    .shop-card--title div {
      opacity: 1;
      transition: opacity 0.2s ease-out 0s; }
      .shop-card--title div:hover {
        opacity: 0.8; }
    @media (max-width: 389px) {
      .shop-card--title {
        width: 94%;
        margin: 0 auto;
        font-size: 16px;
        color: black;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased; } }
  .shop-card--price {
    font-size: 13px;
    color: #595959;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    .shop-card--price span {
      font-size: 10px;
      color: #595959;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased; }
  .shop-card--short-description {
    font-size: 13px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    width: 94%;
    display: block;
    margin: 10px auto 0 auto; }
  .shop-card .tags {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px 2px 10px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
    position: absolute;
    right: 0px; }
    .shop-card .tags:hover {
      opacity: 0.8; }
    @media (max-width: 389px) {
      .shop-card .tags {
        position: absolute;
        right: 3%; } }

#event-card--container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.event-card {
  width: 350px;
  position: relative;
  margin: 25px 25px; }
  .event-card--thumbnail {
    width: 100%;
    box-shadow: 0px 0px 10px 0 #BFBFBF;
    transition: 0.3s; }
    .event-card--thumbnail:hover {
      opacity: 1;
      transition: opacity 0.2s ease-out 0s; }
      .event-card--thumbnail:hover:hover {
        opacity: 0.8; }
    .event-card--thumbnail:hover {
      box-shadow: 0 0 25px 0 #404040; }
  .event-card--triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #595959 transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; }
  .event-card--monthdate {
    position: absolute;
    top: 15px;
    left: 7px;
    pointer-events: none;
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px; }
  .event-card--day {
    position: absolute;
    top: 37px;
    left: 7px;
    pointer-events: none;
    font-size: 12px;
    color: white;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.8px; }
  .event-card--title {
    font-size: 18px;
    color: black;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 1.8;
    letter-spacing: 1px;
    display: block;
    text-align: center; }
  .event-card--row {
    font-size: 10px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: -10px; }
    .event-card--row span {
      display: block; }

.member-card--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.member-card {
  display: block;
  width: 150px;
  text-decoration: none;
  padding: 20px 20px;
  margin: 20px 20px; }
  .member-card:empty {
    height: 0;
    border: none; }
  .member-card .author--avatar__big {
    display: block;
    width: 100px;
    margin: 0 auto; }
  .member-card--position {
    font-size: 11px;
    color: #595959;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-top: 20px; }
  .member-card .author--name__medium {
    text-align: center; }

.share {
  display: flex;
  justify-content: center; }

.share-item {
  display: block;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  padding: 8px 35px;
  margin: 0 10px;
  display: flex;
  align-content: center;
  opacity: 1;
  transition: opacity 0.2s ease-out 0s; }
  .share-item:hover {
    opacity: 0.8; }

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  pointer-events: none;
  font-size: 10px;
  color: #595959;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  display: inline-block; }
  .tags li {
    display: inline-block;
    margin: 0 5px;
    list-style: none; }
    .tags li a {
      text-decoration: none; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none; }
  .pagination a {
    font-size: 15px;
    color: #BFBFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.3s; }
  .pagination li {
    padding-bottom: 3px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative; }
    .pagination li:hover a {
      color: #222222; }
    .pagination li:before, .pagination li:after {
      position: absolute;
      content: "";
      width: 0;
      height: 3px;
      background: #222222;
      transition: 0.3s;
      top: -10px; }
      .pagination li:before .active, .pagination li:after .active {
        width: 100%; }
    .pagination li:before {
      left: 50%; }
    .pagination li:after {
      right: 50%; }
    .pagination li:hover:before, .pagination li:hover:after {
      width: 50%; }
    .pagination li.active a {
      color: #222222; }
    .pagination li.active:before, .pagination li.active:after {
      width: 60%; }

.logoTop {
  display: block;
  width: 300px;
  margin: 0 auto; }

.betaRibbon {
  position: absolute;
  top: 0;
  left: 50px; }

.menu {
  margin: 50px auto 0 auto;
  padding: 0; }
  .menu .flex {
    display: flex;
    justify-content: center; }
  .menu .menu-item {
    width: 85px;
    height: 73px;
    list-style-type: none;
    text-align: center;
    float: left;
    margin: 0 50px; }
    .menu .menu-item a {
      text-decoration: none; }
    .menu .menu-item .sub_icon {
      display: block;
      width: 34px;
      height: 40px;
      margin: 0 auto; }
    .menu .menu-item .sub_text {
      display: block;
      margin-top: 15px;
      font-size: 12px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
      .menu .menu-item .sub_text_selected {
        display: block;
        margin-top: 15px;
        font-size: 12px;
        color: #f62459;
        font-family: HiraginoSans-W6;
        -webkit-font-smoothing: antialiased; }

header {
  position: relative;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .header-sp {
    display: none; } }

.sp-footer {
  display: none; }

.footer {
  width: 400px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: black;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased; }
  .footer-info {
    margin: 0;
    user-select: none;
    -webkit-user-select: none; }
    .footer-info a {
      text-decoration: none;
      padding: 5px;
      border: solid 0.5px #4a4a4a;
      border-radius: 1px;
      margin: 0 5px;
      opacity: 1;
      transition: opacity 0.2s ease-out 0s;
      color: black; }
      .footer-info a:hover {
        opacity: 0.7; }
  .footer-cr {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; }

@media (min-width: 768px) {
  .markdown {
    font-size: 15px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    letter-spacing: 0.5px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
      .markdown a:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out 0s; }
        .markdown a:hover:hover {
          opacity: 0.8; }
    .markdown strong {
      font-size: 15px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased; }
    .markdown p {
      margin: 25px 0 25px 0; }
    .markdown h2 {
      box-sizing: border-box;
      margin: 80px 0 50px 0;
      font-size: 23px;
      color: black;
      font-family: HiraginoSans-W4;
      -webkit-font-smoothing: antialiased;
      border-left: 10px solid #E6567A;
      padding: 31px 20px 29px 20px;
      border-radius: 2px;
      letter-spacing: 1px; }
    .markdown h3 {
      margin: 50px 0 20px 0;
      box-sizing: border-box;
      font-size: 21px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #E6567A;
      padding: 16px 10px 14px 10px;
      letter-spacing: 1px; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; }
    .markdown table {
      border-collapse: collapse;
      text-align: left;
      line-height: 2; }
      .markdown table th {
        width: 20%;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #4a4a4a; }
      .markdown table td {
        width: 70%;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #4a4a4a; } }

@media (max-width: 767px) {
  .markdown {
    font-size: 11px;
    color: black;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    letter-spacing: 1px; }
    .markdown a {
      color: #f62459;
      margin: 0 3px;
      text-decoration: underline; }
    .markdown p {
      margin: 10px 0 10px 0; }
    .markdown strong {
      padding: 5px 3px;
      margin: 0 3px; }
    .markdown h2 {
      margin: 50px 0 50px 0;
      font-size: 18px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      border-left: 5px solid #c2c2c2;
      padding: 10px 20px;
      border-radius: 2px;
      line-height: 1.5; }
    .markdown h3 {
      margin: 50px 0 50px 0;
      font-size: 16px;
      color: black;
      font-family: HiraginoSans-W6;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      border-left: 2.5px solid #c2c2c2;
      padding: 2.5px 10px;
      line-height: 1.5; }
    .markdown img {
      display: block;
      margin: 50px auto;
      max-width: 100%;
      box-shadow: 3px 3px 5px 0 #c2c2c2; }
    .markdown ul, .markdown ol {
      display: block;
      width: 90%;
      margin: 0 auto 50px auto;
      list-style-type: square; } }

.singlea-img {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 3px; }

.singlea-txt table {
  width: 70%;
  display: block;
  margin: 50px auto; }
  .singlea-txt table .title {
    width: 100px; }
  .singlea-txt table .data {
    width: 70%; }

.sp-single {
  display: none; }

.singlel-txt .contactBox, .singlel-txt .tos, .singlel-txt .sct, .singlel-txt .pp {
  width: 60%;
  margin: 50px auto;
  font-size: 13px;
  font-family: HiraginoSans-W3;
  line-height: 2; }
  .singlel-txt .contactBox a, .singlel-txt .tos a, .singlel-txt .sct a, .singlel-txt .pp a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 15px;
    margin: 0 10px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s; }
    .singlel-txt .contactBox a:hover, .singlel-txt .tos a:hover, .singlel-txt .sct a:hover, .singlel-txt .pp a:hover {
      opacity: 0.6; }
    .singlel-txt .contactBox a:link, .singlel-txt .contactBox a:visited, .singlel-txt .tos a:link, .singlel-txt .tos a:visited, .singlel-txt .sct a:link, .singlel-txt .sct a:visited, .singlel-txt .pp a:link, .singlel-txt .pp a:visited {
      color: black; }
  .singlel-txt .contactBox .bottoms, .singlel-txt .tos .bottoms, .singlel-txt .sct .bottoms, .singlel-txt .pp .bottoms {
    margin: 30px 0;
    display: flex;
    justify-content: space-between; }
    .singlel-txt .contactBox .bottoms p, .singlel-txt .tos .bottoms p, .singlel-txt .sct .bottoms p, .singlel-txt .pp .bottoms p {
      margin: 0; }
  .singlel-txt .contactBox h1, .singlel-txt .tos h1, .singlel-txt .sct h1, .singlel-txt .pp h1 {
    font-family: HiraginoSans-W7;
    font-size: 20px;
    text-align: center; }

.singlel-txt .contactBox {
  min-width: 200px;
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 1px dashed black;
  border-radius: 3px; }
  .singlel-txt .contactBox h1 {
    margin: 0; }
  .singlel-txt .contactBox p {
    margin: 0;
    line-height: 2.5; }

.singlel-txt .section {
  margin: 30px 0; }
  .singlel-txt .section h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .section h2 .brackets {
      font-size: 14px; }
  .singlel-txt .section ol {
    margin: 0; }

.singlel-txt hr {
  width: 80%;
  margin: 50px auto; }

.singlel-txt .sct table {
  width: 70%;
  margin: 0 auto; }
  .singlel-txt .sct table h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .sct table h2 .brackets {
      font-size: 14px; }
  .singlel-txt .sct table tr {
    height: 40px; }

@media (max-width: 767px) {
  .header-pc {
    display: none; }
  .header-sp {
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: black;
    position: fixed; }
  .menu-logo {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: 11px;
    left: 5%; }
  .menu-title {
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
    font-family: HiraginoSans-W7;
    letter-spacing: 2.12px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    top: 20px; }
    .menu-title a {
      text-decoration: none;
      color: white; }
    .menu-title__sub {
      position: absolute;
      right: 30px;
      top: 10px;
      font-size: 10px; }
      .menu-title__sub a {
        color: grey; }
  .footer {
    display: none; }
  .sp-footer {
    display: block;
    margin-top: 10px;
    background-color: black; }
  .sp-footer-logo {
    width: 140px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 20px; }
  .sp-footer-cr {
    padding: 10px 0;
    text-align: center;
    font-size: 8px;
    color: white;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    margin: 0; } }

.paypal--buybutton {
  display: block;
  margin: 0 0 20px 0;
  padding: 8px 18px;
  background-color: #f62459;
  border: 1px solid #f62459;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 5px #ccc; }
  .paypal--buybutton a {
    font-size: 15px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none; }
  .paypal--buybutton__false {
    opacity: 0.3; }

.sp-paypal--buybutton {
  display: block;
  margin: 0 0 20px 0;
  padding: 8px 18px;
  background-color: #f62459;
  border: 1px solid #f62459;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 5px #ccc; }
  .sp-paypal--buybutton a {
    font-size: 11px;
    color: white;
    font-family: HiraginoSans-W6;
    -webkit-font-smoothing: antialiased;
    text-decoration: none; }
  .sp-paypal--buybutton__false {
    opacity: 0.3; }

body {
  background-color: #fafafa; }

.flex {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

h1 {
  font-size: 25px;
  color: black;
  font-family: HiraginoSans-W6;
  -webkit-font-smoothing: antialiased; }

/*highlight.jsで行数を出す*/
pre > code.hljs.hljs-line-numbers {
  background-color: #f5f5f5;
  border-right: 0 none;
  color: #707070;
  text-align: right;
  min-width: 14px;
  /* 以降は選択できないようにするためのスタイル */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (max-width: 767px) {
  html, body {
    background-color: white;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch; }
  .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
  .height {
    height: 80px; } }
