html, body,
main, div, span,
a, li, ul, hr {
  padding: 0;
  margin: 0; }

.logoTop {
  display: block;
  margin: 0 auto;
  width: 300px; }

.betaRibbon {
  position: absolute;
  top: 0;
  left: 50px; }

.menu {
  margin: 50px auto 50px auto;
  padding: 0; }
  .menu .flex {
    display: flex;
    justify-content: center; }
  .menu .menu-item {
    width: 85px;
    height: 73px;
    list-style-type: none;
    text-align: center;
    float: left;
    margin: 0 50px; }
    .menu .menu-item a {
      text-decoration: none; }
    .menu .menu-item .sub_icon {
      display: block;
      width: 34px;
      height: 40px;
      margin: 0 auto; }
    .menu .menu-item .sub_text {
      display: block;
      margin-top: 15px;
      color: #000000;
      font-size: 12px;
      font-family: HiraginoSans-W7;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1.7px;
      text-align: center; }
      .menu .menu-item .sub_text_selected {
        display: block;
        margin-top: 15px;
        color: #f62459;
        font-size: 12px;
        font-family: HiraginoSans-W7;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 1.7px;
        text-align: center; }

.footer {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a4a4a;
  font-size: 10px;
  font-family: HiraginoSans-W3;
  letter-spacing: 0.3px;
  text-align: center;
  -webkit-font-smoothing: antialiased; }
  .footer-mark {
    margin-bottom: 10px; }
  .footer-type {
    margin-bottom: 29px; }
  .footer-info {
    margin: 0;
    user-select: none;
    -webkit-user-select: none; }
    .footer-info a {
      text-decoration: none;
      padding: 5px;
      border: solid 0.5px #4a4a4a;
      border-radius: 1px;
      margin: 0 5px;
      opacity: 1;
      transition: opacity 0.2s ease-out 0s;
      color: black; }
      .footer-info a:hover {
        opacity: 0.7; }
  .footer-cr {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; }

.projectsContent {
  width: 70%;
  margin: 0 auto 50px auto;
  border: 50px solid white;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px #ccc; }
  .projectsContent-date {
    width: 70%;
    margin: 0 auto 10px auto;
    color: #4a4a4a;
    font-size: 15px;
    font-family: HiraginoSans-W3; }
  .projectsContent-title {
    width: 70%;
    margin: 0 auto;
    color: #000;
    font-size: 25px;
    font-family: HiraginoSans-W6;
    line-height: 1.7;
    margin-bottom: 20px; }
  .projectsContent-hr {
    width: 70%;
    height: 1px;
    color: #4a4a4a;
    margin: 0 auto 20px auto; }
  .projectsContent .row3 {
    width: 70%;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .projectsContent .row3 .projectsContent-author {
      width: 360px;
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start; }
      .projectsContent .row3 .projectsContent-author .sub_author-img {
        width: 50px;
        height: 50px;
        margin-right: 10px; }
      .projectsContent .row3 .projectsContent-author .sub_author-name {
        color: #4a4a4a;
        font-size: 15px;
        font-family: HiraginoSans-W5;
        text-align: left;
        -webkit-font-smoothing: antialiased; }
    .projectsContent .row3 .tags {
      width: 360px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: #4a4a4a;
      font-size: 15px;
      font-family: HiraginoSans-W5;
      text-align: right;
      -webkit-font-smoothing: antialiased; }
      .projectsContent .row3 .tags li {
        margin: 0 5px;
        list-style: none; }
        .projectsContent .row3 .tags li a {
          text-decoration: none; }
  .projectsContent-headImg {
    display: block;
    width: 70%;
    margin: 0 auto; }
  .projectsContent-link {
    display: block;
    width: 70%;
    margin: 0 auto; }
  .projectsContent-txt {
    display: block;
    width: 70%;
    margin: 0 auto 70px auto;
    color: #000;
    font-size: 16px;
    font-family: HiraginoSans-W3;
    line-height: 2;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased; }
    .projectsContent-txt img {
      display: block;
      width: 70%;
      margin: 0 auto; }
  .projectsContent .howtolink {
    color: #000000;
    font-size: 18px;
    font-family: HiraginoSans-W6;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    width: 230px;
    text-align: center;
    margin: 30px auto 30px auto; }
    .projectsContent .howtolink a {
      text-decoration: none;
      color: black;
      opacity: 1;
      transition: opacity .2s ease-in-out; }
      .projectsContent .howtolink a:hover {
        opacity: 0.7; }
    .projectsContent .howtolink_coming {
      opacity: 0.3; }
  .projectsContent .paypal-button {
    border-radius: 3px;
    box-shadow: 0 5px 15px #ccc;
    opacity: 1;
    transition-property: opacity, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out; }
    .projectsContent .paypal-button:hover {
      opacity: 0.8;
      box-shadow: 0 0 0 #ccc; }
    .projectsContent .paypal-button_coming {
      opacity: 0.3; }

.psum {
  width: 375px;
  height: 610px;
  margin: 0 25px 50px 25px;
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px #ccc; }
  .psum-img {
    height: 375px;
    display: block;
    text-decoration: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; }
  .psum-desc {
    width: 315px;
    height: 185px;
    padding: 25px 30px;
    position: absolute; }
    .psum-desc a {
      text-decoration: none; }
    .psum-desc .row1 {
      display: flex;
      align-content: stretch;
      margin-bottom: 15px; }
      .psum-desc .row1 .sub_date {
        width: 315px;
        display: flex;
        justify-content: flex-start;
        color: #4a4a4a;
        font-size: 12px;
        font-family: HiraginoSans-W5;
        text-align: left;
        -webkit-font-smoothing: antialiased; }
      .psum-desc .row1 .sub_score {
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end; }
        .psum-desc .row1 .sub_score-icon {
          width: 8.9px;
          height: 16px;
          margin-right: 2px; }
        .psum-desc .row1 .sub_score-num {
          color: #4a4a4a;
          font-size: 12px;
          font-family: HiraginoSans-W5;
          text-align: right;
          -webkit-font-smoothing: antialiased; }
    .psum-desc .sub_title {
      display: block;
      width: 315px;
      color: #000000;
      font-size: 18px;
      font-family: HiraginoSans-W6;
      line-height: 1.7;
      -webkit-font-smoothing: antialiased;
      text-decoration: none; }
    .psum-desc .row3 {
      display: flex;
      flex-direction: row;
      align-content: stretch;
      bottom: 25px;
      position: absolute; }
      .psum-desc .row3 .sub_author {
        width: 130px;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .psum-desc .row3 .sub_author-pic {
          width: 40px;
          height: 40px;
          padding-right: 10px; }
        .psum-desc .row3 .sub_author-name {
          color: #4a4a4a;
          font-size: 12px;
          font-family: HiraginoSans-W5;
          text-align: left;
          -webkit-font-smoothing: antialiased; }
      .psum-desc .row3 .tags {
        width: 185px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: #4a4a4a;
        font-size: 12px;
        font-family: HiraginoSans-W5;
        text-align: left;
        -webkit-font-smoothing: antialiased; }
        .psum-desc .row3 .tags li {
          margin: 0 5px;
          list-style: none; }
          .psum-desc .row3 .tags li a {
            text-decoration: none; }

.blogContent {
  width: 720px;
  margin: 0 auto;
  border: 30px solid white;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px #ccc; }
  .blogContent-date {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #4a4a4a;
    font-size: 15px;
    font-family: HiraginoSans-W3; }
  .blogContent-title {
    width: 700px;
    margin: 0 auto;
    color: #000;
    font-size: 25px;
    font-family: HiraginoSans-W6;
    line-height: 1.7;
    margin-bottom: 10px; }
  .blogContent-hr {
    width: 718px;
    height: 1px;
    color: #4a4a4a;
    margin-bottom: 15px; }
  .blogContent-author {
    position: relative;
    display: block;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 50px; }
    .blogContent-author .sub_author-img {
      width: 50px;
      height: 50px;
      margin-right: 10px; }
    .blogContent-author .sub_author-name {
      position: absolute;
      top: 18px;
      display: inline;
      margin: 0; }
  .blogContent-eye {
    width: 718px; }
  .blogContent-txt {
    width: 700px;
    margin: 0 auto 70px auto;
    color: #000;
    font-size: 16px;
    font-family: HiraginoSans-W3;
    line-height: 2;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased; }

.bsum {
  width: 720px;
  height: 218px;
  margin: 0 auto 50px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px #ccc;
  overflow: hidden; }
  .bsum-img {
    display: inline-block;
    width: 255px;
    height: 218px;
    position: relative;
    top: 0;
    right: 0;
    float: right; }
  .bsum-desc {
    display: inline-block;
    width: 465px; }
    .bsum-desc .sub_date {
      color: #4a4a4a;
      font-size: 12px;
      font-family: HiraginoSans-W5;
      text-align: left;
      -webkit-font-smoothing: antialiased;
      margin: 20px 30px 5px 30px; }
    .bsum-desc .sub_title {
      color: #000000;
      font-size: 18px;
      font-family: HiraginoSans-W6;
      line-height: 1.7;
      -webkit-font-smoothing: antialiased;
      margin: 0 0 5px 30px;
      width: 416px; }
    .bsum-desc .sub_summary {
      color: #4a4a4a;
      font-size: 12px;
      font-family: HiraginoSans-W5;
      text-align: left;
      -webkit-font-smoothing: antialiased;
      margin: 0 5px 10px 30px;
      width: 416px; }
    .bsum-desc .sub_author {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0 30px; }
      .bsum-desc .sub_author-pic {
        width: 40px;
        height: 40px;
        padding-right: 10px; }
      .bsum-desc .sub_author-name {
        color: #4a4a4a;
        font-size: 12px;
        font-family: HiraginoSans-W5;
        text-align: left;
        -webkit-font-smoothing: antialiased; }

.singlea-img {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 3px; }

.singlea-txt {
  width: 60%;
  margin: 0 auto;
  font-size: 13px;
  font-family: HiraginoSans-W3;
  line-height: 2; }
  .singlea-txt table {
    width: 80%;
    min-width: 423px;
    margin: 50px auto;
    border-spacing: 5%;
    border-collapse: collapse; }
    .singlea-txt table td {
      text-align: left;
      vertical-align: top;
      padding: 0.5em;
      width: 20px; }

.singlel-txt .contactBox, .singlel-txt .tos, .singlel-txt .sct, .singlel-txt .pp {
  width: 60%;
  margin: 50px auto;
  font-size: 13px;
  font-family: HiraginoSans-W3;
  line-height: 2; }
  .singlel-txt .contactBox a, .singlel-txt .tos a, .singlel-txt .sct a, .singlel-txt .pp a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 15px;
    margin: 0 10px;
    opacity: 1;
    transition: opacity 0.2s ease-out 0s; }
    .singlel-txt .contactBox a:hover, .singlel-txt .tos a:hover, .singlel-txt .sct a:hover, .singlel-txt .pp a:hover {
      opacity: 0.6; }
    .singlel-txt .contactBox a:link, .singlel-txt .contactBox a:visited, .singlel-txt .tos a:link, .singlel-txt .tos a:visited, .singlel-txt .sct a:link, .singlel-txt .sct a:visited, .singlel-txt .pp a:link, .singlel-txt .pp a:visited {
      color: black; }
  .singlel-txt .contactBox .bottoms, .singlel-txt .tos .bottoms, .singlel-txt .sct .bottoms, .singlel-txt .pp .bottoms {
    margin: 30px 0;
    display: flex;
    justify-content: space-between; }
    .singlel-txt .contactBox .bottoms p, .singlel-txt .tos .bottoms p, .singlel-txt .sct .bottoms p, .singlel-txt .pp .bottoms p {
      margin: 0; }
  .singlel-txt .contactBox h1, .singlel-txt .tos h1, .singlel-txt .sct h1, .singlel-txt .pp h1 {
    font-family: HiraginoSans-W7;
    font-size: 20px;
    text-align: center; }

.singlel-txt .contactBox {
  min-width: 200px;
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 1px dashed black;
  border-radius: 3px; }
  .singlel-txt .contactBox h1 {
    margin: 0; }
  .singlel-txt .contactBox p {
    margin: 0;
    line-height: 2.5; }

.singlel-txt .section {
  margin: 30px 0; }
  .singlel-txt .section h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .section h2 .brackets {
      font-size: 14px; }
  .singlel-txt .section ol {
    margin: 0; }

.singlel-txt hr {
  width: 80%;
  margin: 50px auto; }

.singlel-txt .sct table {
  width: 70%;
  margin: 0 auto; }
  .singlel-txt .sct table h2 {
    margin: 0;
    font-size: 18px;
    font-family: HiraginoSans-W6; }
    .singlel-txt .sct table h2 .brackets {
      font-size: 14px; }
  .singlel-txt .sct table tr {
    height: 40px; }

body {
  background-color: #fafafa; }

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }
