@charset "UTF-8";
/*ページ読み込み前打ち消し*/
main {
  display: none; }

footer {
  display: none; }

.betaRibbon {
  position: absolute;
  top: 0;
  left: 50px; }

.logoTop {
  display: block;
  margin: 0 auto;
  width: 300px; }
