<%- include('../_partial/head', {params:'ふむ'}) %>

  <main class=".clearfix">
    <article>
      <div class="thumb-big">
        <p class="thumb-big-text">
          さくら色のマイコンボード「GR-SAKURA」とLEDで、アルコールチェッカを作ろう！
        </p>
        <img src="/assets/img/gr-sakura/thumb-big.png" alt="" />
        <div class="author"><a href="http://liginc.co.jp/member/member_detail?user=ukkz" target="_blank">
          <img class="author-prof" src="/assets/img/author-uko.png" alt="" />
          <p class="author-name">うこ</p>
        </a></div>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
        </div>
      </div>

      <div class="info">
        <img class="lig-article" src="/assets/img/gr-sakura/thumb-small.png" alt="" />
        <p class="lig-article-text">
          今回はさくら色のマイコンボード「GR-SAKURA」とアルコールセンサを使い、息を吹きかけるとLEDで “酔っ払い度”を示してくれるアルコールチェッカを作ってみます。
        </p>
      </div>
      <a class="link-lig" target="_blank" href="http://liginc.co.jp/264119">作り方を読む</a>

      <!-- <div class="project-parts-wrap">
        <p id="project-parts-list">
          このプロジェクトに必要な部品
        </p>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="/assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="/assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="/assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="/assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
      </div> -->

      <div class="link">
        <a class="link-buy unclickable" href="#" target="_blank">準備中</a>
      </div>

    </article>
  </main>

  <footer>
    <img id="foot-mark" src="/assets/img/foot-mark.png" alt="" />
    <img id="foot-type" src="/assets/img/foot-type.png" alt="" />
    <p id="foot-pp"><a href="http://liginc.co.jp/privacy" target="_blank">プライバシーポリシー</a></p>
    <!-- <p id="foot-power">Powered by <img id="foot-power-lig" src="/assets/img/foot-liglogo.png" alt="" /></p> -->
    <p id="foot-copy">© 2016 Team DevRel, <a href="http://liginc.co.jp/" target="_blank">LIG Inc.</a></p>
  </footer>

  </body>
</html>
