@charset "UTF-8";

@import "generals/types";

.footer {
  width: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include type-small;

  &-mark {
    margin-bottom: 10px;
  }
  &-type {
    margin-bottom: 29px;
  }
  &-pp {
    a {
      text-decoration: none;
    }
  }
  &-cr {
  }
}
