@charset "utf-8";

@import "generals/colors";
@import "generals/types";

.menu {

  margin: 50px auto 50px auto;
  padding: 0;

  .flex {
    display: flex;
    justify-content: center;
  }

  .menu-item {
    width: 85px;
    height: 73px;
    list-style-type: none;
    text-align: center;
    float: left;
    margin: 0 50px;
    a {
      text-decoration: none;
    }

    .sub_icon {
      display: block; // svg default is inline
      width: 34px;
      height: 40px;
      margin: 0 auto;
      &_selected {
      }
    }

    .sub_text {
      display: block;
      margin-top: 15px;
      @include type-menu(#000000)
      &_selected {
        display: block;
        margin-top: 15px;
        @include type-menu($accent-pink);
      }
    }
  }
}
