@charset "utf-8";

@import "generals/colors";
@import "generals/types";
@import "generals/shadows";
@import "generals/tags";

.projectsContent {
  width: 70%;
  margin: 0 auto 50px auto;
  border: 50px solid white;

  @include shadow-base;

  &-date {
    width: 70%;
    margin: 0 auto 10px auto;
    @include type-blogContent-info;
  }

  &-title {
    width: 70%;
    margin: 0 auto;
    @include type-blogContent-title;
    margin-bottom: 20px;
  }

  &-hr {
    width: 70%;
    height: 1px;
    color: $base-grey;
    margin: 0 auto 20px auto;
  }

  .row3 {
    width: 70%;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .projectsContent-author {
      width: 360px;
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      .sub_author-img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .sub_author-name {
        @include type-contentProject-desc(left);
      }
    }
    .tags {
      width: 360px;
      @include tags;
      @include type-contentProject-desc(right);
    }
  }

  &-headImg {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  &-link {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  &-txt {
    display: block;
    width: 70%;
    margin: 0 auto 70px auto;
    @include type-blogContent-txt;
    h2 {
    }
    img {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }

  .howtolink {
    @include type-summary-l;
    width: 230px;
    text-align: center;
    margin: 30px auto 30px auto;
    a {
      text-decoration: none;
      color: black;
    }
    &_coming {
      opacity: 0.3;
    }
  }
  .paypal {
    &-button {
      border-radius: 3px;
      box-shadow: 0 5px 15px #ccc;
      &_coming {
        opacity: 0.3;
      }
    }
  }
}
