@charset "utf-8";

@import "generals/colors";
@import "generals/types";
@import "generals/shadows";

.blogContent {
  width: 720px;
  margin: 0 auto;

  border: 30px solid white;

  @include shadow-base;

  &-date {
    margin-left: 10px;
    margin-bottom: 10px;
    @include type-blogContent-info;
  }

  &-title {
    width: 700px;
    margin: 0 auto;
    @include type-blogContent-title;
    margin-bottom: 10px;
  }

  &-hr {
    width: 718px;
    height: 1px;
    color: $base-grey;
    margin-bottom: 15px;
  }

  &-author {
    position: relative;
    display: block;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 50px;

    .sub_author-img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      // vertical-align: middle;
    }
    .sub_author-name {
      position: absolute;
      top: 18px;
      display: inline;
      margin: 0;
    }
  }
  &-eye {
    width: 718px;
  }


  &-txt {
    width: 700px;
    margin: 0 auto 70px auto;
    @include type-blogContent-txt;
  }
}
