@charset "utf-8";

@import "generals/types";
@import "generals/clearfix";
@import "generals/shadows";
@import "generals/author";

.bsum {
  width: 720px;
  height: 218px;

  margin: 0 auto 50px auto;

  @include shadow-base;
  
  overflow: hidden;

  &-img {
    display: inline-block;
    width: 255px;
    height: 218px;
    position: relative;
    top: 0;
    right: 0;
    float: right;
  }
  
  &-desc {
    display: inline-block;
    width: 465px;
    .sub_date {
      @include type-summary-s(left);
      margin: 20px 30px 5px 30px;
    }
    .sub_title {
      @include type-summary-l;
      margin: 0 0 5px 30px;
      width: 416px;
    }
    .sub_summary {
      @include type-summary-s(left);
      margin: 0 5px 10px 30px;
      width: 416px;
    }
    .sub_author {
      @include author;
      margin: 0 0 0 30px;
    }
  }
}
