<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/css/master.css">
  <link rel="stylesheet" href="assets/css/content.css">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>dotstudio</title>
</head>

<body>
  <header>
    <img src="assets/img/beta-ribbon.png" style="position: fixed;" alt="Beta version" />
    <a href="https://dotstud.io/"><img id="logo-main" src="assets/img/logo-main.png" alt="" /></a>
    <menu>
      <ul>
        <li><a href="https://dotstud.io/"><img class="menu-icon" src="assets/img/menu-icon/home.png" alt="Home" />
          <p class="menu-text selected">HOME</p></a>
          <img class="bubble-tri" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/projects.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/events.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/tags.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
      </ul>
    </menu>
  </header>

  <main class=".clearfix">
    <article>
      <div class="thumb-big">
        <p class="thumb-big-text">
          自作したオリジナルIoTデバイス「Nefry」とインターネットを繋いでみた
        </p>
        <img src="assets/img/nefry/thumb-big.png" alt="" />
        <div class="author">
          <a><img class="author-prof" src="assets/img/author-wami.png" alt="" />
          <p class="author-name">わみ</p></a>
        </div>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </div>

      <div class="info">
        <img class="lig-article" src="assets/img/nefry/thumb-lig.png" alt="" />
        <p class="lig-article-text">
          「Nefry（ねふりー）」とは、Milkcocoaやmythings、IFTTTなどのインターネットのサービスとハードウエアを簡単に接続できるモジュールです。インターネットに接続しやすいので、接続に時間をとられることなく上記のようなサービスを利用してアイデアづくりに集中することができます。
        </p>
      </div>
      <a class="link-lig" target="_blank" href="http://liginc.co.jp/236620">作り方を読む</a>

      <!-- <div class="project-parts-wrap">
        <p id="project-parts-list">
          このプロジェクトに必要な部品
        </p>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="assets/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
      </div> -->

      <div class="">
        <a class="link-buy" href="https://dotstudio.thebase.in/items/2979880" target="_blank">購入する</a>
      </div>

    </article>
  </main>

  <footer>
    <img id="foot-mark" src="assets/img/foot-mark.png" alt="" />
    <img id="foot-type" src="assets/img/foot-type.png" alt="" />
    <p id="foot-pp"><a href="http://liginc.co.jp/privacy" target="_blank">プライバシーポリシー</a></p>
    <!-- <p id="foot-power">Powered by <img id="foot-power-lig" src="assets/img/foot-liglogo.png" alt="" /></p> -->
    <p id="foot-copy">© 2016 Team DevRel, <a href="http://liginc.co.jp/" target="_blank">LIG Inc.</a></p>
  </footer>

  </body>
</html>
