<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/css/master.css">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>dotstudio</title>
</head>

<body>
  <header>
    <img id="logo-main" src="assets/img/logo-main.png" alt="" />
    <menu>
      <ul>
        <li><a href="#"><img class="menu-icon" src="assets/img/menu-icon/home.png" alt="Home" />
          <p class="menu-text selected">HOME</p></a></li>
        <li><a href="#"><img src="assets/img/menu-icon/projects.png" alt="Projects" />
          <p class="menu-text">PROJECTS</p></a></li>
        <li><a href="#"><img src="assets/img/menu-icon/events.png" alt="Events" />
          <p class="menu-text">EVENTS</p></a></li>
        <li><a href="#"><img src="assets/img/menu-icon/tags.png" alt="Tags" />
          <p class="menu-text">TAGS</p></a></li>
      </ul>
    </menu>
    <img id="bubble-tri" src="assets/img/bubble-triangle.png" alt="" />
  </header>

  <main>
    <article class="thumb-big">
      <img src="assets/img/thumbnail/big.png" alt="" />
      <p class="thumb-big-text">
        さくら色のマイコンボード「GR-SAKURA」で、アルコールチェッカを作ろう！
      </p>
      <div>
        <a class="tag-white" href="#">GR-SAKURA</a>
        <a class="tag-white" href="#">ABCDE</a>
      </div>
    </article>

    <div class="thumb-small-wrap">
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">初心者</a>
        </div>
      </article>
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </article>
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </article>
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </article>
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </article>
      <article class="thumb-small">
        <img src="assets/img/thumbnail/small.png" alt="" />
        <p class="thumb-small-text">
          Webサービス同士を連携できる「IFTTT」と自作IoTデバイスを繋いで生活を便利にしてみた
        </p>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
          <a class="tag-white" href="#">ABCDE</a>
        </div>
      </article>
    </div>
  </main>

  <footer>
    <img id="foot-mark" src="assets/img/foot-mark.png" alt="" />
    <img id="foot-type" src="assets/img/foot-type.png" alt="" />
    <p id="foot-pp"><a href="#">プライバシーポリシー</a></p>
    <!-- <p id="foot-power">Powered by <img id="foot-power-lig" src="assets/img/foot-liglogo.png" alt="" /></p> -->
    <p id="foot-copy">© 2016 Team DevRel, LIG Inc.</p>
  </footer>

  <script src="assets/js/app.js">

  </script>

  </body>
</html>
