<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/master.css">
    <title>dotstudio</title>
  </head>
  <body>
      <header>
        <img id="logo-main" src="assets/img/logo-main.png" alt="" />
        <menu>
            <ul>
                <li><a href="#"><img src="assets/img/menu-icon/home.png" alt="Home" />
                    <p>Home</p></a></li>
                <li><a href="#"><img src="assets/img/menu-icon/projects.png" alt="Projects" />
                    <p>Projects</p></a></li>
                <li><a href="#"><img src="assets/img/menu-icon/events.png" alt="Events" />
                    <p>Events</p></a></li>
                <li><a href="#"><img src="assets/img/menu-icon/tags.png" alt="Tags" />
                    <p>Tags</p></a></li>
            </ul>
        </menu>
    </header>

    <main>
        <div class="">
            <img src="assets/img/thumbnail/big.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
        <div class="">
            <img src="assets/img/thumbnail/small.png" alt="" />
        </div>
    </main>

    <footer>
        <img src="assets/img/foot-mark.png" alt="" />
        <img src="assets/img/foot-type.png" alt="" />
        <p>プライバシーポリシー</p>
        <p>Powered by <img src="assets/img/foot-liglogo.png" alt="" /></p>
        <p>© 2016 Team DevRel, LIG Inc.</p>
    </footer>
    
    </body>
</html>
