<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">

  <!-- OGP -->
  <meta property="og:title" content=".studio（ドットスタジオ）" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dotstud.io/" />
  <meta property="og:image" content="assets/img/ogp-img.png" />
  <meta property="og:description" content="ドットスタジオはIoTのセレクトショップです。実際のユースケースとなるブログ記事を中心に、海外の面白いIoTデバイスやハードウェア、開発者向けのパーツなどを紹介していきます。  " />

  <link rel="stylesheet" href="assets/css/master.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>dotstudio</title>

  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78080011-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <header>
    <img src="assets/img/beta-ribbon.png" style="position: fixed;" alt="Beta version" />
    <a href="https://dotstud.io/"><img id="logo-main" src="assets/img/logo-main.png" alt="" /></a>
    <menu>
      <ul>
        <li><a href="https://dotstud.io/"><img class="menu-icon" src="assets/img/menu-icon/home.png" alt="Home" />
          <p class="menu-text selected">HOME</p></a>
          <img class="bubble-tri" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/projects.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/events.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
        <li><a href="" class="unclickable"><img class="menu-icon" src="assets/img/menu-icon/tags.png" alt="Home" />
          <p class="menu-text">準備中</p></a>
          <img class="bubble-tri tri-not-selected" src="assets/img/bubble-triangle.png" alt="" /></li>
      </ul>
    </menu>
    <img id="bubble-tri" src="assets/img/bubble-triangle.png" alt="" />
  </header>

  <main class="clearfix">
    <article class="thumb-big">
      <div class=""><a href="1.html">
        <img src="assets/img/nefry/thumb-big.png" alt="" />
        <p class="thumb-big-text">
          自作したオリジナルIoTデバイス「Nefry」とインターネットを繋いでみた
        </p></a>
      </div>
      <div>
        <a class="tag-white" href="#">Nefry</a>
        <a class="tag-white" href="#">自作</a>
      </div>
    </article>

    <div class="thumb-small-wrap">
      <article class="thumb-small">
          <a href="2.html"><img src="assets/img/gr-sakura/thumb-small.png" alt="" /></a>
           <a href="#"><p class="thumb-small-text">
            さくら色のマイコンボード「GR-SAKURA」とLEDで、アルコールチェッカを作ろう！
          </p></a>
        <div>
          <a class="tag-white" href="#">GR-SAKURA</a>
        </div>
      </article>
      <article class="thumb-small unclickable">
        <div class="coming-soon-wrap">
          <img class="coming-soon-img" src="assets/img/thumbnail/small.png" alt="" />
          <p class="coming-soon-tag">
            Coming soon...
          </p>
        </div>
        <p class="thumb-small-text coming-soon-text">
          ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
        </p>
        <div>
          <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
        </div>
      </article>
      <article class="thumb-small unclickable">
        <div class="coming-soon-wrap">
          <img class="coming-soon-img" src="assets/img/thumbnail/small.png" alt="" />
          <p class="coming-soon-tag">
            Coming soon...
          </p>
        </div>
        <p class="thumb-small-text coming-soon-text">
          ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
        </p>
        <div>
          <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
        </div>
      </article>
      <article class="thumb-small unclickable">
        <div class="coming-soon-wrap">
          <img class="coming-soon-img" src="assets/img/thumbnail/small.png" alt="" />
          <p class="coming-soon-tag">
            Coming soon...
          </p>
        </div>
        <p class="thumb-small-text coming-soon-text">
          ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
        </p>
        <div>
          <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
        </div>
      </article>
      <article class="thumb-small unclickable">
        <div class="coming-soon-wrap">
          <img class="coming-soon-img" src="assets/img/thumbnail/small.png" alt="" />
          <p class="coming-soon-tag">
            Coming soon...
          </p>
        </div>
        <p class="thumb-small-text coming-soon-text">
          ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
        </p>
        <div>
          <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
        </div>
      </article>
      <article class="thumb-small unclickable">
        <div class="coming-soon-wrap">
          <img class="coming-soon-img" src="assets/img/thumbnail/small.png" alt="" />
          <p class="coming-soon-tag">
            Coming soon...
          </p>
        </div>
        <p class="thumb-small-text coming-soon-text">
          ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
        </p>
        <div>
          <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
        </div>
      </article>
    </div>
  </main>

  <footer>
    <img id="foot-mark" src="assets/img/foot-mark.png" alt="" />
    <img id="foot-type" src="assets/img/foot-type.png" alt="" />
    <p id="foot-pp"><a href="http://liginc.co.jp/privacy" target="_blank">プライバシーポリシー</a></p>
    <!-- <p id="foot-power">Powered by <img id="foot-power-lig" src="assets/img/foot-liglogo.png" alt="" /></p> -->
    <p id="foot-copy">© 2016 Team DevRel, <a href="http://liginc.co.jp/" target="_blank">LIG Inc.</a></p>
  </footer>

  <script src="assets/js/app.js">

  </script>

  </body>
</html>
