@charset "utf-8";

@import "generals/colors";

@mixin type-menu($color) {
  color: $color;
  font-size: 12px;
	font-family: HiraginoSans-W7;
  -webkit-font-smoothing: antialiased;
	letter-spacing: 1.7px;
  text-align: center;
}

@mixin type-summary-s($dir) {
  color: $base-grey;
  font-size: 12px;
  font-family: HiraginoSans-W5;
  text-align: $dir;
  -webkit-font-smoothing: antialiased;
}

@mixin type-summary-l {
  color: #000000;
  font-size: 18px;
  font-family: HiraginoSans-W6;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

@mixin type-contentProject-desc($dir) {
  color: $base-grey;
  font-size: 15px;
  font-family: HiraginoSans-W5;
  text-align: $dir;
  -webkit-font-smoothing: antialiased;
}


@mixin type-blogContent-title {
  color: #000;
  font-size: 25px;
  font-family: HiraginoSans-W6;
  line-height: 1.7;
}

@mixin type-blogContent-txt {
  color: #000;
  font-size: 16px;
  font-family: HiraginoSans-W3;
  line-height: 2;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
}

@mixin type-blogContent-info {
  color: $base-grey;
  font-size: 15px;
  font-family: HiraginoSans-W3;
}

@mixin type-small {
  color: $base-grey;
  font-size: 10px;
  font-family: HiraginoSans-W3;
  letter-spacing: 0.3px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
