<!-- Footer -->
<footer class="footer">
  <svg class="footer-mark" width="55px" height="42px"><use xlink:href="#icon-footer-mark"></svg>
  <svg class="footer-type" width="100px" height="28px"><use xlink:href="#icon-footer-type"></svg>
  <p class="footer-pp"><a href="">プライバシーポリシー</a></p>
  <p class="footer-cr">© 2016 Team DevRel, LIG Inc.</p>
</footer>

<!-- jQuery -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script> -->

<!-- Custom Theme JavaScript -->
<!-- <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script> -->

<script src="{{ .Site.BaseURL }}/js/app.js"></script>

<!-- /*hljs Syntax Highlight -->
<script src="{{ .Site.BaseURL }}/js/lib/hljs.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- hljs Syntax Highlight*/ -->

</body>
