html,
body {
  padding: 0;
  margin: 0; }

.tag-white {
  display: block;
  padding: 5px 10px 5px 10px;
  border: solid 1px #fff;
  border-radius: 1px;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-family: HiraginoSans-W5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  animation-timing-function: ease-in;
  transition: 0.3s color;
  float: right;
  margin-top: 25px;
  margin-left: 10px; }
  .tag-white:hover {
    color: #f62459; }

.thumb-big {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding-bottom: 70px; }
  .thumb-big a {
    text-decoration: none; }
  .thumb-big .thumb-big-text {
    color: #fff;
    font-size: 28px;
    font-family: HiraginoSans-W5;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    padding: 10px 20px 10px 20px;
    border: solid 3px #fff;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px 0 50px 0; }

.author {
  float: left;
  padding-top: 10px; }
  .author .author-prof {
    width: 52px;
    height: 52px;
    float: left; }
  .author .author-name {
    display: block;
    float: left;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
    font-family: HiraginoSans-W3;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 0.6px; }

.info {
  width: 621px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: center; }
  .info .lig-article {
    width: 260px;
    height: 162px; }
  .info .lig-article-text {
    display: block;
    width: 335px;
    height: 161px;
    padding-left: 26px;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-family: HiraginoSans-W3;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 0.6px; }

.link-lig {
  display: block;
  width: max-content;
  padding: 20px 45px 22px 45px;
  border: solid 3px #fff;
  border-radius: 1px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  animation-timing-function: ease-in;
  transition: 0.3s color;
  margin: 50px auto 50px auto;
  animation-timing-function: ease-in;
  transition: 0.3s color; }
  .link-lig:hover {
    color: #f62459; }
  .link-lig:hover {
    color: #f62459; }

.project-parts-wrap {
  width: 620px;
  height: 100%;
  margin: 0 auto; }
  .project-parts-wrap #project-parts-list {
    color: #fff;
    font-size: 16px;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    margin: 20px 0; }
  .project-parts-wrap .project-part {
    width: 310px;
    height: 100px;
    margin-bottom: 50px;
    float: left; }
  .project-parts-wrap .project-part-img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px; }
  .project-parts-wrap a {
    text-decoration: none; }
  .project-parts-wrap .project-part-txt {
    color: #fff;
    font-size: 16px;
    font-family: HiraginoSans-W3;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 0.6px;
    padding-top: 40px;
    margin: 0 0 0 0; }
  .project-parts-wrap .project-part-price {
    color: #fff;
    font-size: 10px;
    font-family: HiraginoSans-W5;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin: 5px 0 0 0;
    float: left; }

.link-buy {
  clear: left;
  display: block;
  box-sizing: border-box;
  width: max-content;
  font-family: HiraginoSans-W3;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 22px 45px;
  margin: 0 auto;
  border-radius: 1px;
  border: solid 3px #f62459;
  text-decoration: none;
  animation-timing-function: ease-in;
  transition: 0.3s color; }
  .link-buy:hover {
    color: #f62459; }
