html,
body {
  padding: 0;
  margin: 0; }

.thumb-big {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 70px; }
  .thumb-big a {
    text-decoration: none; }
  .thumb-big .thumb-big-text {
    color: #fff;
    font-size: 28px;
    font-family: HiraginoSans-W5;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    margin: 5px 0 20px 0; }

.thumb-small-wrap {
  width: 720px;
  height: 800px;
  margin: 0 auto; }

.thumb-small {
  display: block;
  width: 260px;
  float: left;
  padding: 70px 50px 0 50px; }
  .thumb-small a {
    text-decoration: none; }
  .thumb-small .thumb-small-text {
    color: #fff;
    font-size: 16px;
    font-family: HiraginoSans-W4;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7; }

.coming-soon-wrap {
  position: relative; }

.coming-soon-img {
  width: 260px; }

.coming-soon-tag {
  position: absolute;
  display: block;
  padding: 5px 10px 5px 10px;
  border: solid 1px #fff;
  border-radius: 1px;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-family: HiraginoSans-W5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  animation-timing-function: ease-in;
  transition: 0.3s color;
  top: 70.5px;
  left: 80px;
  width: 100px;
  margin: 0 auto; }
  .coming-soon-tag:hover {
    color: #f62459; }

.coming-soon-text,
.coming-soon-img,
.tag-coming-soon {
  opacity: 0.2; }

.tag-white {
  display: block;
  padding: 5px 10px 5px 10px;
  border: solid 1px #fff;
  border-radius: 1px;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-family: HiraginoSans-W5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  animation-timing-function: ease-in;
  transition: 0.3s color;
  float: left;
  margin-right: 10px;
  animation-timing-function: ease-in;
  transition: 0.3s color; }
  .tag-white:hover {
    color: #f62459; }
  .tag-white:hover {
    color: #f62459; }
