html,
body {
  padding: 0;
  margin: 0; }

#logo-main {
  display: block;
  height: 172px;
  margin: 0 auto;
  object-fit: contain;
  width: 300px; }

header {
  height: 327px; }

main {
  background-color: #000;
  padding-top: 76px;
  padding-bottom: 76px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
.bubble-tri {
  display: block;
  position: relative;
  padding-top: 19px;
  width: 50px;
  height: 23.88px;
  margin: 0 auto; }

.tri-not-selected {
  visibility: hidden; }

menu {
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; }
  menu ul {
    clear: left;
    float: left;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center; }
    menu ul li {
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%; }
      menu ul li a {
        display: block;
        padding: 40px 55px 0 55px;
        text-decoration: none;
        line-height: 1.3em; }
        menu ul li a .menu-icon {
          margin: 0;
          padding: 0; }
        menu ul li a .menu-text {
          display: block;
          height: 18px;
          font-family: AvenirNext-Medium;
          font-size: 15px;
          line-height: 1.2;
          text-align: center;
          color: black;
          margin: 0; }
        menu ul li a .selected {
          color: #f62459 !important; }

footer {
  padding-top: 50px;
  clear: left;
  display: block;
  width: 166px;
  margin: 0 auto;
  color: black; }
  footer #foot-mark {
    display: block;
    width: 55px;
    margin: 0 auto;
    padding-bottom: 10px; }
  footer #foot-type {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px; }
  footer #foot-pp {
    font-size: 10px;
    font-family: HiraginoSans-W3;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000;
    text-align: center; }
    footer #foot-pp a {
      text-decoration: none; }
    footer #foot-pp a:visited {
      color: #000; }
  footer #foot-power {
    font-size: 10px;
    padding-top: 10px; }
  footer #foot-power-lig {
    padding-left: 10px; }
  footer #foot-copy {
    font-size: 10px;
    font-family: HiraginoSans-W3;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000;
    text-align: center;
    margin-bottom: 50px; }
    footer #foot-copy a {
      text-decoration: none; }
    footer #foot-copy a:visited {
      color: #000; }
