body {
  margin: 0; }

#logo-main {
  display: block;
  margin-left: auto;
  margin-right: auto; }

header {
  height: 350px; }

main {
  background-color: black; }

menu {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative; }
  menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center; }
    menu ul li {
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%; }
      menu ul li a {
        display: block;
        margin: 0 0 0 1px;
        padding: 50px 80px;
        text-decoration: none;
        line-height: 1.3em; }

.thumb-big {
  display: block;
  width: 620px;
  margin: auto; }
  .thumb-big .thumb-big-text {
    width: 620px;
    height: 80px;
    font-family: HiraginoSans-W5;
    font-size: 28px;
    line-height: 1.4;
    color: #ffffff; }

.thumb-small-wrap {
  width: 720px;
  height: 800px;
  margin: 0 auto; }

.thumb-small {
  display: block;
  width: 260px;
  float: left;
  padding: 0 50px; }
  .thumb-small .thumb-small-text {
    width: 260px;
    height: 81px;
    font-family: HiraginoSans-W4;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff; }

footer {
  padding-top: 50px;
  clear: left;
  display: block;
  width: 166px;
  margin: 0 auto; }
  footer #foot-mark {
    display: block;
    width: 55px;
    margin: 0 auto;
    padding-bottom: 10px; }
  footer #foot-type {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px; }
  footer #foot-pp {
    font-size: 10px;
    text-align: center; }
    footer #foot-pp a {
      text-decoration: none; }
  footer #foot-power {
    font-size: 10px;
    padding-top: 10px; }
  footer #foot-power-lig {
    padding-left: 10px; }
  footer #foot-copy {
    font-size: 10px;
    text-align: center; }
