{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!-- {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/post-bg.jpg')">
    {{ end }} -->

    <article class="blogContent">
      <div class="blogContent-date">{{ dateFormat .Site.Params.DateForm .Date }}</div>
      <h1 class="blogContent-title">{{ .Title }}</h1>
      <hr class="blogContent-hr">
      <div class="blogContent-author">
        <img src="{{ .Site.BaseURL }}img/placeholder/author.png" alt="" class="sub_author-img">
        <p class="sub_author-name">{{ .Params.author }}</p>
      </div>

      <!-- アイキャッチ -->
      {{ .FuzzyWordCount }}

      <img src="{{ .Site.BaseURL }}img/blog/{{ .Params.image }}" alt="" class="blogContent-eye">

      <div class="blogContent-txt">{{ .Content }}</div>
    </article>

      <!-- <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               <h2 class="subheading">{{ .Description }}</h2>
               <span class="meta">Posted by <a href="#">{{ .Site.Params.Author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
                 <br />
                 {{ partial "categories.html" . }}
                 <br />
                 {{ partial "tags.html" . }}
               </span>
             </div>
           </div>
        </div>
      </div>
    </header> -->

    <!-- Post Content -->
    <!-- <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ .Content }}
                </div>
            </div>
        </div>
    </article> -->

{{ partial "footer.html" .}}
