               <!-- <div class="post-preview">
                 <a href="{{ .Permalink }}">
                      <h2 class="post-title">{{ .Title }}</h2>
                      <h3 class="post-subtitle">{{ .Description }}</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ .Params.author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
                    <br />
                    {{ partial "categories.html" .}}
                    <br />
                    {{ partial "tags.html" .}}
                  </p>
                </div>
                <hr> -->

                <div class="bsum">
                  <div class="bsum-desc">
                    <span class="bsum-desc sub_date">{{ dateFormat .Site.Params.DateForm .Date }}</span>
                    <a href="{{ .Permalink }}"><div class="bsum-desc sub_title">{{ .Title }}</div></a>
                    <span class="bsum-desc sub_summary">{{ .Description }}</span>
                    <span class="bsum-desc sub_author">
                      <img src="{{ .Site.BaseURL }}/img/members/{{ .Params.author_username }}/author.png" alt="" class="bsum-desc sub_author-pic">
                      <span class="bsum-desc sub_author-name">{{ .Params.author }}</span>
                    </span>
                  </div>
                  <a href="#"><img src="{{ .Site.BaseURL }}/img/blog/{{ .Params.image }}" alt="" class="bsum-img"></a>
                </div>
