
<div class="psum">
  <a class="psum-img" href="{{ .Permalink }}">
    <img src="{{ .Site.BaseURL }}/img/projects/{{ .Params.project_id }}/_thumbnail.png" alt="" class="psum-img">
  </a>

    <div class="psum-desc" id="psum-desc">
      <a href="{{ .Permalink }}">
        <div class="row1">
          <div class="sub_date">{{ dateFormat .Site.Params.DateForm .Date }}</div>
          <!-- <div class="sub_score">
            <svg class="sub_score-icon"><use xlink:href="#icon-scoreIcon"></svg>
            <div class="sub_score-num">999</div>
          </div> -->
        </div>

        <div class="sub_title">{{ .Title }}</div>
      </a>

      <div class="row3">
        <span class="sub_author">
          <img src="{{ .Site.BaseURL }}/img/members/{{.Params.author_username}}/author.png" alt="" class="sub_author-pic">
          <span class="sub_author-name">{{ .Params.author }}</span>
        </span>
        {{ partial "tags.html" .}}
      </div>


    </div>
</div>
