<article class="thumb-small unclickable">
  <div class="coming-soon-wrap">
    <img class="coming-soon-img" src="/assets/img/thumbnail/small.png" alt="" />
    <p class="coming-soon-tag">
      Coming soon...
    </p>
  </div>
  <p class="thumb-small-text coming-soon-text">
    ただいまちゃちゃまるが公開準備中です。もうしばらくお待ち下さい。お楽しみに！
  </p>
  <div>
    <a class="tag-white tag-coming-soon" href="#">Coming Soon</a>
  </div>
</article>
