@charset "utf-8";

@import "colors";

@mixin text-color {
  transition: 0.3s color;
}

@mixin animation-button($color) {
  animation-timing-function: ease-in;
  transition: 0.3s color;
  // transition: 0.3s border-color;
  &:hover {
    color: $color;
    // border-color: $accent;
  }
}
