@charset "utf-8";

@import "colors";

@mixin button-big($button-color) {
  display: block;
  width: max-content;

  padding: 20px 45px 22px 45px;
  border: solid 3px $button-color;
  border-radius: 1px;
  box-sizing: border-box;

  color: $white;
  font-size: 18px;
	font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
