@charset "utf-8";

@import "colors";

@mixin tag($tag-color) {
  display: block;
  // width: max-content;

  padding: 5px 10px 5px 10px;
  border: solid 1px $tag-color;
  border-radius: 1px;
  box-sizing: border-box;

  @include type-tags($tag-color);
  text-align: center;

  @include animation-button($accent);
}
