@charset "utf-8";

@import "colors";

@mixin type-base {
  color: $white;
  font-size: 15px;
  font-family: HiraginoSans-W3;
  -webkit-font-smoothing: antialiased;
	line-height: 1.6;
	letter-spacing: 0.6px;
}

@mixin type-h1 {
  color: $white;
  font-size: 28px;
  font-family: HiraginoSans-W5;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

@mixin type-h2 {
  color: $white;
  font-size: 16px;
  font-family: HiraginoSans-W4;
  -webkit-font-smoothing: antialiased;
	line-height: 1.7;
}

@mixin type-min($color) {
  font-size: 10px;
  font-family: HiraginoSans-W3;
  letter-spacing: 0.4px;
  text-align: center;
  color: $color;
}

@mixin type-tags($tag-color) {
  color: $tag-color;
  font-size: 10px;
  font-family: HiraginoSans-W5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
