@charset "utf-8";

@import "imports";

.tag-white {
  @include tag($white);
  float: right;
  margin-top: 25px;
  margin-left: 10px;
}


.thumb-big {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding-bottom: 70px;
  a {
    text-decoration: none;
  }
  .thumb-big-text {
    @include type-h1;
    padding: 10px 20px 10px 20px;
    border: solid 3px $white;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px 0 50px 0;
  }
}

.author {
  float: left;
  padding-top: 10px;
  @include animation-author;
  .author-prof {
    width: 52px;
    height: 52px;
    float: left;
  }
  .author-name {
    display: block;
    float: left;
    padding-left: 15px;
  	@include type-base;
  }
}

.info {
  width: 260 + 335 + 26px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  .lig-article {
    width: 260px;
    height: 162px;
  }
  .lig-article-text {
    display: block;
    width: 335px;
    height: 161px;
    padding-left: 26px;
    margin: 0;
    @include type-base;
  }
}

.link-lig {
  @include button-big($white);
  margin: 50px auto 50px auto;
  @include animation-button($accent);
}

.project-parts-wrap {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  #project-parts-list {
    @include type-h2;
    margin: 20px 0;
  }
  .project-part {
    width: 310px;
    height: 100px;
    margin-bottom: 50px;
    float: left;
  }
  .project-part-img {
    width: 100px;
    height: 100px;
    // display: inline;
    float: left;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
  }
  .project-part-txt {
    @include type-base;
    padding-top: 40px;
    margin: 0 0 0 0;
  }
  .project-part-price {
    @include type-tags($white);
    margin: 5px 0 0 0;
    float: left;
  }
}

.link-buy {
  clear: left;
  display: block;
  box-sizing: border-box;
  width: max-content;
	font-family: HiraginoSans-W3;
	font-size: 16px;
	color: $white;
  padding: 20px 45px 22px 45px;
  margin: 0 auto;
  border-radius: 1px;
  border: solid 3px $accent;
  text-decoration: none;
  @include animation-button($accent);
}
