@charset "utf-8";

@import "imports";

.thumb-big {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 70px;
  @include animation-img;
  a {
    text-decoration: none;
  }
  .thumb-big-text {
    @include type-h1;
    margin: 5px 0 20px 0;
  }
}

.thumb-small-wrap {
  width: 720px;
  height: 800px;
  margin: 0 auto;
}
.thumb-small {
  display: block;
  width: 260px;
  float: left;
  padding: 70px 50px 0 50px;
  @include animation-img;
  a {
    text-decoration: none;
  }
  .thumb-small-text {
    @include type-h2;
  }
}

.coming-soon-wrap {
  position: relative;
}
.coming-soon-img {
  width: 260px;
}
.coming-soon-tag {
  position: absolute;
  @include tag($white);
  top: ((162 / 2) - 10.5 ) * 1px;
  left: ((260 / 2) - 50) * 1px;
  width: 100px;
  margin: 0 auto;
}
.coming-soon-text,
.coming-soon-img,
.tag-coming-soon
{
  opacity: 0.2;
}

.tag-white {
  @include tag($white);
  float: left;
  margin-right: 10px;
  @include animation-button($accent);
}
