$white: #fff;
$black: #000;
$accent-pink: #f62459;

html,
body {
  height: 100%;
  background-color: $white;
  margin: 0;
  padding: 0;
  color: $white;
}

#logo-main {
  display: block;
  height: 172px;
  margin: 0 auto;
  object-fit: contain;
  width: 300px;
}

header {
  height: 310 + 23 - 6px;
}

#bubble-tri {
  display: block;
  position: relative;
  left: 455px;
  padding-top: 19px;
}

main {
  height: 1743px;
  background-color: $black;
}

menu {
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  ul {
    clear: left;
    float: left;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%;
      a {
        display: block;
        padding: 40px 55px 0 55px;
        text-decoration: none;
        line-height: 1.3em;
        .menu-icon {
          margin: 0;
          padding: 0;
        }
        .menu-text {
          display: block;
          height: 18px;
          font-family: AvenirNext-Medium;
          font-size: 15px;
          line-height: 1.2;
          text-align: center;
          color: black;
          margin: 0;
        }
        .selected {
          color: $accent-pink !important;
        }
      }
    }
  }
}

.thumb-big {
  display: block;
  width: 620px;
  margin: auto;
  padding-top: 76px;
  padding-bottom: 70px;
  .thumb-big-text {
    width: 620px;
    height: 80px;
    font-family: HiraginoSans-W3;
    font-size: 28px;
    line-height: 1.4;
    color: $white;
    margin: 15px 0 0;
  }
}

.thumb-small-wrap {
  width: 720px;
  height: 800px;
  margin: 0 auto;
}
.thumb-small {
  display: block;
  width: 260px;
  float: left;
  padding: 70px 50px 0 50px;
  .thumb-small-text {
    width: 260px;
    height: 81px;
    margin: 0;
    font-family: HiraginoSans-W2;
    font-size: 16px;
    line-height: 1.7;
    color: $white;
  }
}

.tag-white {
  display: block;
  float: left;
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
  border: solid 1px $white;
  margin-top: 20px;
  margin-right: 10px;
  width: max-content;
  font-family: HiraginoSans-W3;
  font-size: 10px;
  color: $white;
  text-decoration: none;
}



footer {
  padding-top: 50px;
  clear: left;
  display: block;
  width: 166px;
  margin: 0 auto;
  color: black;
  #foot-mark {
      display: block;
      width: 55px;
      margin: 0 auto;
      padding-bottom: 10px;
  }
  #foot-type {
      display: block;
      margin: 0 auto;
      padding-bottom: 10px;
  }
  #foot-pp {
      font-size: 10px;
      text-align: center;
      a {
          text-decoration: none;
      }
  }
  #foot-power{
      font-size: 10px;
      padding-top: 10px;
  }
  #foot-power-lig {
      padding-left: 10px;
  }
  #foot-copy {
      font-size: 10px;
      text-align: center;
      margin-bottom: 50px;
  }
}
