@charset "utf-8";

@import "generals/imports";

body {
  background-color: $bg-white;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
