#logo-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

menu {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    ul {
        clear: left;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        left:50%;
        text-align:center;
        li {
            display:block;
            float:left;
            list-style:none;
            margin:0;
            padding:0;
            position:relative;
            right:50%;
            a {
                display:block;
                margin:0 0 0 1px;
                padding:50px 80px;
                text-decoration:none;
                line-height:1.3em;

            }
        }
    }
}

.thumb-big {
    display: block;
    width: 620px;
    margin: auto;

    .thumb-big-text {
        font-size: 28px;
        width: 620px;
    }
}

.thumb-small-wrap {
    width: 720px;
    margin: 0 auto;
}
.thumb-small {
    display: block;
    width: 260px;
    float: left;
    padding: 0 50px;
    .thumb-small-text {
        font-size: 16px;
        width: inherit;
    }
}

footer {
    padding-top: 50px;
    clear: left;
    display: block;
    width: 166px;
    margin: 0 auto;
    #foot-mark {
        display: block;
        width: 55px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    #foot-type {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    #foot-pp {
        font-size: 10px;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    #foot-power{
        font-size: 10px;
        padding-top: 10px;
    }
    #foot-power-lig {
        padding-left: 10px;
    }
    #foot-copy {
        font-size: 10px;
        text-align: center;
    }
}
